<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/index3.0/styles/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/index3.0/styles/style.css" />
	
	
</head>
<body>
	<div class="header">
		<div class="nav_bar">
			<div class="layout">
				<div class="user_nav">
					<div class="reg">
						<a href="">登录</a> -
						<a href="">注册</a>
					</div>
					<div class="sign_in">
						<a href="" class="name">小妖妖</a>
						<a href="" class="edit"></a>
						<a href="" class="exit"></a>
					</div>
				</div>
				<div class="more_nav">
					<a id="clt" href="">加入收藏夹</a> -
					<a href="http://in.chengdu.cn/download" target="_blank">下载IN成都客户端</a>
					<span>|</span>
				</div>
				<div class="site-nav">
					<a href="http://www.chengdu.cn" target="_blank">全搜索首页</a> -
					<a href="http://news.chengdu.cn" target="_blank">新闻</a> -
					<a href="http://tg.chengdu.cn" target="_blank">章鱼团</a> -
					<a href="http://photo.chengdu.cn" target="_blank">成都图片网</a>
				</div>
			</div>
		</div>
		<div class="nav">
			<div class="layout">
				<div class="search_bar">
					<button type="submit"><i class="icon-search"></i></button>
					<input type="text" class="txt" placeholder="搜地点/点评/新闻/楼盘" />
					
				</div>
				<div class="site_nav">
					<a href="">IN成都</a>
					<a href="">美食</a>
					<a href="">观影</a>
				</div>
			</div>
		</div>
	</div>
	<div class="main layout">
		<!--{template sub_header}-->
		<div class="column timeline">
			<div class="article">
				<div class="col_l">
					<div class="nav">
						<ul>
							<li class="active">
								<a href="" class="slide"><i class="icon-minus icon-white"></i></a>2012 
								<div class="month">
									<a href="">三月</a>
									<a href="">三月</a>
									<a href="">三月</a>
								</div>
							</li>
							<li class="">
								<a href="" class="slide"><i class="icon-minus icon-white"></i></a>2012 
								<div class="month">
									<a href="">三月</a>
									<a href="">三月</a>
									<a href="">三月</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col_m">
					<div class="hd">
						<div class="tit">
							<h3><i></i>地点册</h3>
							<div class="tabs">
								<a class="active" href="">创建的</a>
								<a href="">收藏的</a>
							</div>
						</div>
					</div>
					<ul>
						<li class="post">
							<i class="arr"></i>
							<i class="ico"></i>
							<div class="avatar">
								<a href=""><img src="t.jpg" alt="" /></a>
							</div>
							<div class="item">
								<div class="loc_album">
									<h3><span>创建的地点册</span></h3>
									<div class="box">
										<div class="img">
											<img src="t.jpg" alt="" />
											<i></i>
										</div>
										<div class="info">
											<h4><a href="">dfadf的方法</a></h4>
											<p>成都，一座来鲜花点缀的古都；一个休闲者的天美食的故乡，这里的…</p>
											<div class="list">
												<ul>
													<li><i class="in_icon loc_album"></i>迷上澳门豆捞</li>
													<li><i class="in_icon loc_album"></i>迷上澳门豆捞</li>
													<li><i class="in_icon loc_album"></i>迷上澳门豆捞</li>
												</ul>
												<i class="elite"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="footbar">
								<div class="tags">
									<ul>
										<li><span>正能量</span></li>
										<li><span>正能量</span></li>
										<li><span>正能量</span></li>
									</ul>
								</div>
								<div class="actions">
									<a class="action-like " data-id="1820511" data-type="19">赞<span class="num" id="praise_count_1820511"></span></a>
									<em>|</em>
									  <div class="action-share dropdown" data-id="1820511" data-type="19">
										  <a class="dropdown-toggle" data-toggle="dropdown">分享<span class="num" id="share_count_1820511"></span></a>
										  <ul class="dropdown-menu">
											  <li><a class="action-share-icd" data-s="0">IN成都</a></li>
											  <li><a class="action-share-weibo" data-s="1" data-content="http://in.chengdu.cn/review/1820511 分享自#IN成都#">新浪微博</a></li>
											  <li><a class="action-share-qq" data-s="2" data-content="http://in.chengdu.cn/review/1820511 分享自#IN成都#">腾讯微博</a></li>
										  </ul>
									  </div>
									<em>|</em>
									<a class="action-reply">回复<span class="num" id="reply_count_1820511"></span></a>
								</div>
							</div>
						</li>
						<li class="post">
							<i class="arr"></i>
							<i class="ico"></i>
							<div class="avatar">
								<a href=""><img src="t.jpg" alt="" /></a>
							</div>
							<div class="item">
								<div class="loc_album">
									<h3><span>创建的地点册</span></h3>
									<div class="box">
										<div class="img">
											<img src="t.jpg" alt="" />
											<i></i>
										</div>
										<div class="info">
											<h4><a href="">dfadf的方法</a></h4>
											<p>成都，一座来鲜花点缀的古都；一个休闲者的天美食的故乡，这里的…</p>
										</div>
									</div>
								</div>
							</div>
							<div class="footbar">
								<div class="tags">
									<ul>
										<li><span>正能量</span></li>
										<li><span>正能量</span></li>
										<li><span>正能量</span></li>
									</ul>
								</div>
								<div class="actions">
									<a class="action-like " data-id="1820511" data-type="19">赞<span class="num" id="praise_count_1820511"></span></a>
									<em>|</em>
									  <div class="action-share dropdown" data-id="1820511" data-type="19">
										  <a class="dropdown-toggle" data-toggle="dropdown">分享<span class="num" id="share_count_1820511"></span></a>
										  <ul class="dropdown-menu">
											  <li><a class="action-share-icd" data-s="0">IN成都</a></li>
											  <li><a class="action-share-weibo" data-s="1" data-content="http://in.chengdu.cn/review/1820511 分享自#IN成都#">新浪微博</a></li>
											  <li><a class="action-share-qq" data-s="2" data-content="http://in.chengdu.cn/review/1820511 分享自#IN成都#">腾讯微博</a></li>
										  </ul>
									  </div>
									<em>|</em>
									<a class="action-reply">回复<span class="num" id="reply_count_1820511"></span></a>
								</div>
							</div>
						</li>
					</ul>
					<hr class="fadeOut" />
				</div>
			</div>
			<div class="side">
				<div class="module user_achieve">
					<div class="tit">
						<h3>XXX的成就<i></i></h3>
					</div>
					<div class="con">
						<ul>
							<li><img src="t.jpg" alt="" /></li>
							<li><img src="t.jpg" alt="" /></li>
							<li><img src="t.jpg" alt="" /></li>
							<li><img src="t.jpg" alt="" /></li>
						</ul>
					</div>
				</div>
				<div class="module user_tags">
					<div class="tit">
						<h3>XXX的标签<i></i></h3>
					</div>
					<div class="con">
						<ul>
							<li>IT民工</li>
							<li>IT民工</li>
							<li>IT民工</li>
							<li>IT民工IT民工IT民工IT民工</li>
							<li>IT民工IT民工IT民工IT</li>
						</ul>
						<p>标签要在客户端设置 <a href="">点击下载</a></p>
					</div>
				</div>
				<div class="module user_track">
					<div class="tit">
						<h3>XXX的足迹<i></i></h3>
					</div>
					<div class="con">
						<p>这个家伙飘忽的可怕，竟然没留下任何踪迹……</p>
						<div class="map">
							
						</div>
						<ul class="location">
							<li>
								<div class="address">
									<div class="img">
										<img src="t.jpg" alt="" />
									</div>
									<div class="info">
										<a href="">俏江南抚琴</a>
										<p><a href="">23个点评</a>地主中</p>
									</div>
								</div>
							</li>
							<li>
								<div class="address">
									<div class="img">
										<img src="t.jpg" alt="" />
									</div>
									<div class="info">
										<a href="">俏江南抚琴</a>
										<p><a href="">23个点评</a>地主中</p>
									</div>
								</div>
							</li>
							<li>
								<div class="address">
									<div class="img">
										<img src="t.jpg" alt="" />
									</div>
									<div class="info">
										<a href="">俏江南抚琴</a>
										<p><a href="">23个点评</a>地主中</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<!--[if lte IE 6]>
<script type="text/javascript" src="js/ie6.js"></script>
<![endif]-->
<script type="text/javascript">
	$(function(){
		$('.carousel-indicators li').bind('mouseenter',function(){
			//var $this = $(this);
			$('.carousel').carousel($(this).index());
		});
	})
	var cData = ["BC9F78","A5CD84","C1CF8A"];
	var forbid;
	$('.user_tags li').each(function(i,n){
		var num = Math.floor(Math.random()*3);
		while(num == forbid){
			num = Math.floor(Math.random()*3);
		}
		forbid = num;
		n.style.backgroundColor = "#" + cData[num];
	});
</script>
<!--{template common/footer}-->
