<input type="hidden" value="{$module_id}" name="module_id[{$page_id}][{$block_id}]" />
<!--{if $module_id > 0}-->
<dl class="poi_block_module">
    扩展模型：
</dl>
<!--{loop $fields $row}-->
<dl>
    <dt>
        <label>
            <input type="checkbox" name="visiable[{$page_id}][{$block_id}][{$row['fieldId']}]" value="1"<!--{if $data[$row['fieldId']]['isVisible'] == '1'}--> checked="checked"<!--{/if}--> />
            {$row['fieldName']}：
        </label>
    </dt>
    <dd id="data_span">
        {eval $field = $row['fieldId'];}
        {eval $field_name = "data[" . $page_id . "][" . $block_id . "][" . $row['fieldId'] . "]";}
        {eval $field_id = "data_" . $page_id . "_" + $block_id . "_" . $row['fieldId'];}
        <!--{if 'str' == $row['fieldType']}-->
        <input type="text" value="{$data[$field]['value']}" name="{$field_name}" id="{$field_id}" size="<!--{if $row['fieldSize']}-->{$row['fieldSize']}<!--{else}-->20<!--{/if}-->" />
        <!--{elseif 'text' == $row['fieldType']}-->
        <textarea id="{$field_id}" name="{$field_name}" cols="50" rows="<!--{if $row['fieldSize']}-->{$row['fieldSize']}<!--{else}-->8<!--{/if}-->">{$data[$field]['value']}</textarea>
        <!--{elseif 'date' == $row['fieldType']}-->
        <input type="text" value="{$data[$field]['value']}" name="{$field_name}" id="{$field_id}" class="date" format="yyyy-MM-dd" readonly="true"/>
        <a class="inputDateButton" href="javascript:;">选择</a>
        <!--{elseif 'datetime' == $row['fieldType']}-->
        <input type="text" value="{$data[$field]['value']}" name="{$field_name}" id="{$field_id}" class="date" format="yyyy-MM-dd HH:mm:ss" readonly="true"/>
        <a class="inputDateButton" href="javascript:;">选择</a>
        <!--{elseif 'time' == $row['fieldType']}-->
        <input type="text" value="{eval echo $data[$field]['value']?$data[$field]['value']:$row['defaultValue']}" name="{$field_name}" id="{$field_id}" class="date" format="HH:mm"/>
        <a class="inputDateButton" href="javascript:;">选择</a>
        <!--{elseif 'radio' == $row['fieldType']}-->
        {eval $values = explode(',', $row['defaultValue']);$default = $data[$field]['value']?$data[$field]['value']:$row['defaultSelect'];}
        <!--{loop $values $value}-->
        <label><input type="radio" name="{$field_name}" value="{$value}"<!--{if $value==$default}-->checked="true"<!--{/if}--> />{$value}</label>
        <!--{/loop}-->
        <!--{elseif 'checkbox' == $row['fieldType']}-->
        {eval $values = explode(',', $row['defaultValue']);$selects = $data[$field]['value']?explode(',',$data[$field]['value']):explode(',',$row['defaultSelect']);}
        <!--{loop $values $value}-->
        <label><input type="checkbox" name="{$field_name}[]" value="{$value}"<!--{if in_array($value, $selects)}-->checked="true"<!--{/if}--> />{$value}</label>
        <!--{/loop}-->
        <!--{elseif 'tel' == $row['fieldType']}-->
        <input type="text" value="{$data[$field]['value']}" name="{$field_name}" id="{$field_id}" size="60" />
        (多个电话间用英文逗号隔开)
        <!--{elseif 'http' == $row['fieldType']}-->
        <input type="text" value="{$data[$field]['value']}" name="{$field_name}" id="{$field_id}" size="60" />
        (格式如：IN沈阳=http://in.jin95.com)
        <!--{elseif 'rewrite' == $row['fieldType']}-->
        <input type="text" value="{$data[$field]['value']}" name="{$field_name}" id="{$field_id}" size="60" />
        (格式如：http://in.jin95.com)
        <!--{elseif 'image' == $row['fieldType']}-->
        <button type="button" id="image_btn_{$field_id}">上传图片</button>
        <script type="text/javascript">
            $(function(){
                var options = "name:\"{$field_name}\", id:\"image_{$field_id}\", file_type:\"common\", required:false";
                <!--{if $data[$field]['value']}-->
                    options += ", image_name: \"{$data[$field]['value']}\"";
                <!--{/if}-->
                $("#image_btn_{$field_id}").my_upload(eval("({" + options + "})"));
            });
        </script>
        <!--{elseif 'app_image' == $row['fieldType']}-->
        <button type="button" id="image_btn_{$field_id}">上传图片</button>
        <script type="text/javascript">
            $(function(){
                var options = "name:\"{$field_name}\", id:\"image_{$field_id}\", file_type:\"default\", required:false";
                <!--{if $data[$field]['value']}-->
                    options += ", image_name: \"{$data[$field]['value']}\"";
                <!--{/if}-->
                $("#image_btn_{$field_id}").my_upload(eval("({" + options + "})"));
            });
        </script>
        <!--{elseif 'rich_image' == $row['fieldType']}-->
        <span id="{$field_id}" text="上传图片"></span>
        <script type="text/javascript">
            $(function(){
                <!--{if $data[$field]['value']}-->
                $("#{$field_id}").my_rich_upload({name: "{$field_name}", data: {$data[$field]['value']}, field: {$rich_image_fields}});
                <!--{else}-->
                $("#{$field_id}").my_rich_upload({name: "{$field_name}", field: {$rich_image_fields}});
                <!--{/if}-->
            });
        </script>
        <!--{elseif 'ref' == $row['fieldType']}-->
        
        <!--{/if}-->
    </dd>
</dl>
<!--{/loop}-->
<!--{if empty($data)}-->
<script type="text/javascript">
    $(function(){
        var title = $("input[name='title[{$page_id}][{$block_id}]']", $("#{$page_id}"));
        if($.trim(title.val()) == "") {
            title.val("{$module['name']}");
        }
        var content = $("textarea[name='content[{$page_id}][{$block_id}]']", $("#{$page_id}"));
        if($.trim(content.val()) == "") {
            content.val("{$module['description']}");
        }
    });
</script>
<!--{/if}-->
<!--{elseif $module_id == -1}-->
<dl class="poi_block_module">
    扩展连接：
</dl>
<dl>
    <dt>连接地址：</dt>
    <dd><input type="text" size="60" value="{$place_property['hyperLink']}" name="hyper_link[{$page_id}][{$block_id}]" /></dd>
</dl>
<!--{/if}-->