#container {
	padding: 63px 0 0;
	.container {
		width: 1000px;
		margin: 0px auto;
		.main {
			float: right;
			width: 810px;
		}
		.main-l {
			float: left;
			width: 560px;
		}
		.main-r {
			float: right;
			width: 230px;
		}
	}
	.container-fluid {
		width: 1000px;
		margin: 0px auto;
	}
}
#container-page {
	padding: 71px 0 0;
	.container {
		width: 1000px;
		margin: 0px auto;
		.main {
			float: right;
			width: 810px;
		}
		.main-l {
			float: left;
			width: 560px;
		}
		.main-r {
			float: right;
			width: 230px;
		}
	}
	.container-fluid {
		.clearfix();
		width: 1000px;
		margin: 0px auto;
		.main {
			float: left;
			width: 700px;
		}
		.sidebar{
			float: right;
			width: 280px;
		}
	}
}
.mini-header {
	width: 998px;
	margin: 0px auto;
	border: 1px solid #e6e6e6;
	border-top:0;
	background: #fff;
	.card {
		display: inline-block;
		margin: 9px;
		.avatar {
			float: left;
			img {
				width: 60px;
				height: 60px;
				.border-radius(4px);
			}
		}
		.info {
			margin-left: 70px;
			h2 {
				font-size: 16px;
				line-height: 30px;
				margin: 0px;
				.cleartype();
			}
			p {
				font-size: 12px;
				line-height: 18px;
				color: #666;
			}
			.vico {
				margin-top: -5px;
			}
		}
	}
}
.block {
	margin-top: 30px;
	*margin-top: 91px;
	width: 998px;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.3);
	background: #ffffff;
	border-radius: 3px;
	.clearfix();
	.block-header {
		font-size: 14px;
		height: 44px;
		h2 {
			font-size: 16px;
			float: left;
			line-height: 44px;
			padding: 0px 10px;
		}
	}
	.block-content {
		padding: 20px;
		min-height: 300px;
		background: #ffffff;
		.clearfix();
		.sidebar {
			float: right;
			padding: 20px;
			width: 260px;
			border-left: 1px dotted #ccc;
			.guide {
				h4 {
					margin: 0 0 10px 0;
					color: #666666;
					font-size: 14px;
					font-weight: normal;
				}
			}
		}
		.main {
			float: left;
			padding: 20px 0;
			width: 600px;
		}
		.form-actions {
			border: none;
			background: #ffffff;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		.form-horizontal {
			width: 520px;
			margin: 100px auto;
			.controls {
				input {
					.ie7-inline-block();
					*width: 320px;
					min-height: 0px ~"\9";
				}
				label.placeholder {
					line-height: 0 ~"\9";
				}
			}
		}
	}
	.block-footer {
		height: 10px;
	}
}