#signin-modal {
	.clearfix();
	.modal-header {
		h3 {
			font-size: 12px;
			font-weight: normal;
			color: #aaaaaa;
			display: inline-block;
			.ie7-inline-block();
		}
	}
	.modal-body {
		padding: 0 10px;
	}
	.signup-modal-form {
		width: 310px;
		float: left;
		input {
			margin-bottom: 10px;
			min-height: 0 ~'\0';
		}
	}
	.signin-modal-form {
		width: 210px;
		float: left;
		input {
			margin-bottom: 10px;
			min-height: 0 ~'\0';
		}
	}
	.divider {
		width: 1px;
		border-right: 1px solid #eeeeee;
		margin: 0px 9px;
		height: 250px;
		float: left;
	}
	.caption {
		h3 {
			font-size: 16px;
			margin: 0px;
			padding: 0px;
		}
		p {
			color: #aaaaaa;
			line-height: 20px;
			height: 20px;
			margin-bottom: 10px;
			&.error {
				color: #cc0000;
			}
		}
	}
	.inputs {
		height: 130px;
		p {
			padding: 0;
			margin: 0;
		}
		.rememberme {
			float: left;
			font-weight: normal;
			width: 60px;
		}
		.forgot {
			display: block;
			float: right;
		}
	}
	.btns {
		text-align: right;
		.btn-weibo,
		.btn-qq {
			i{
				width: 16px;
				height: 16px;
				display: inline-block;
				*display: inline;
				*zoom: 1;
				vertical-align: middle;
				margin-right: 5px;
			}
		}
		.btn-weibo i{
			background: url('ico_syn.gif') -20px 0 no-repeat;
		}
		.btn-qq i{
			background: url('ico_syn.gif') 0 0 no-repeat;
		}
	}
}
