{eval $page_rel='unusual_exp';}
<div class="pageHeader" id="user_{$page_rel}">
    <form id="pagerForm" method="post" action="{$current_url}" onsubmit="return divSearch(this, '{$page_rel}');">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="{$numPerPage}" />
</form>
</div>
<div class="pageContent" id="user_{$page_rel}">
	<table class="list" width="1200" layoutH="100">
		<thead>
			<tr>
				<th width="20" >用户</th>
				<th width="80" >7日内净增长经验</th>			
			</tr>
		</thead>
		<tbody>
		<!--{loop $list $k $v}-->
			<tr target="id" rel="{$v['id']}">
				<td><img src="{echo image_url($v['avatar'],'head');}" width=20 height=20 /> {$v['username']}({$v['uid']})</td>
				<td>{$v['total']} <a href="/user/exp_log/id/{$v['uid']}/start_date/{$start_date}" title="用户积分明细" width="800" height="500" target="dialog">明细</a></td>	
			</tr>
		<!--{/loop}-->	
		</tbody>
	</table>
	<!--{template main/page_bar}-->
</div>