// 提示
//----------

#messager {
  min-width: 200px;
  max-width: 300px;
  _width: 200px;
  padding: 20px 15px;
  line-height: 20px;
  overflow: hidden;
  position: absolute;
  z-index: 9999;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  background-color: rgba(0,0,0,.8);
  background-color: #212121 ~"\9";
  .border-radius(3px);
  .box-shadow(0 1px 3px rgba(0,0,0,.3));
  .opacity(0);
}