<!--{if $has_group > 0}-->
<div class="timeline-column">
<div class="column-hd"></div>
<div class="feed">
	<div class="timeline-buy">
		<div class="tit">
			<i class="buy"></i>
		</div>
		<div class="con">
			<p>
				仅48元，享炫蜂时尚西餐价值78元单人套餐一份！黑椒牛仔骨、超级至尊披萨、酥皮海鲜汤、芒果...
			</p>
			<a><img width="410px" height="140px" src="img/pic_1.jpg" alt=""/></a>
			<ul>
				<li class="buy-timeout">
					<i class="icon-time"></i>3天13时59分05秒
				</li>
				<li class="buy-volume">
					<strong>698</strong>人已购买
				</li>
			</ul>
			<ul class="buy-grab">
				<li>
					<label> <span>¥</span> 158 </label>
				</li>
				<li>
					<a target="_blank" hidefocus="true" rel="" href="#">抢购</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="column-ft"></div>
</div>
<!--{/if}-->