<!DOCTYPE html>
<html lang="en">
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
		<meta content="zh_cn" name="language">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>江湖悬赏令</title>
		<meta name="description" content="" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<link rel="shortcut icon" href="http://in.chengdu.cn/img/favicon.ico" />
		<link rel="apple-touch-icon" href="http://in.chengdu.cn/img/m2/apple-touch-icon.png" />
		<link type="text/css" href="http://in.chengdu.cn/css/m2_style.css" rel="stylesheet" />
		<script type="text/javascript" src="/js/jquery.min.js"></script>
	</head>
	<body>
		<div class="container part-index">
		  <div class="bd">
		    <div class="grid">
		      <div class="title-index">
		        <p>
		         江湖悬赏！万元基金悬赏成都最敢耍爱泡的达人，晒点评，晒榜单，晒你的玩耍秘籍！集思广益，修炼神功，共同打造史上最强吃喝玩乐宝典秘籍，成为新一代敢耍爱泡武林盟主！江湖召唤你加入！！
		        </p>
		      </div>
		      <div class="content">
		        <div class="steps">
		          <dl>
		            <dd>
		              <a href="/event/part/{$event_id}/{$uid}/1/{$lat}/{$lng}" class="step-1">
		                <div class="stepname"><h3> 初入江湖，加入门派</h3></div>
		                <span>活动时间：11月5日-12月2日</span>
		              </a>
		            </dd>
		            <dd>
                  <a href="#" class="step-2">
                    <div class="stepname"><h3> 招兵买马，雄霸一方</h3></div>
                    <span>活动时间：12月5日-12月15日</span>
                  </a>
                </dd>
		            <dd>
                  <a href="#" class="step-3">
                    <div class="stepname"><h3> 问鼎帮主，斩获赏金</h3></div>
                    <span>活动时间：12月18日-12月28日</span>
                  </a>
                </dd>
		            <dd>
                  <a href="#" class="step-4">
                    <div class="stepname"><h3> 称霸武林，神秘大礼</h3></div>
                    <span>活动时间：2013年1月1日开始</span>
                  </a>
                </dd>
		          </dl>
		        </div>
		        <div class="info" style="padding-top: 0px;">
		          <p>活动说明：<br />
1、第一阶段：发布点评，全城征集最IN耍客，参与即可抽奖，1000份奖品免费送。海选出100位达人用户，获得相应奖励；<br />
2、第二阶段：50进20，晒榜单，加入好友拉票制；<br />
3、第三阶段：终极PK，20进10，通过“专业评分+人气票选”综合评定出10位达人用户，每人将获得一千元美食基金大奖以及最高荣誉权限；<br />
4、第四阶段：10名中奖用户分享宝典，完成终极任务，用户评选，称霸武林，赢神秘奖。</p>
		        </div>
		      </div>
		    </div>
		 </div>
		</div>
	</body>
</html>
