<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>IN成都</title>
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link rel="shortcut icon" href="/static/mobile_site/img/favicon.ico" />
        
        <link rel="stylesheet" href="/static/mobile_site/css/styles.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
        <script src="/static/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
		var online_id = '<!--{$auth[uid]}-->',online_name = '<!--{if $auth[nickname]}--><!--{$auth[nickname]}--><!--{else}--><!--{$auth[username]}--><!--{/if}-->',online_avatar = '<!--{if $auth[avatar_m]}--><!--{$auth[avatar_m]}--><!--{else}-->/static/head_default.png<!--{/if}-->';
		</script>
    </head>

    <body>
