	<div id="footer">
		<div class="copyright"> © 2013 IN沈阳 All Rights Reserved.</div>

	</div>
	<div class="modal hide" id="modal" aria-hidden="false"><div class="modal-loading">加载中...</div></div>
    <form class="modal hide" id="share-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>分享</h3>
        </div>
        <div class="modal-body">
            <div class="message_input"><textarea name="message" rows="4" cols="80" maxlength="140"></textarea></div>
        </div>
        <div class="modal-footer">
            <input type="submit" data-loading-text="分享中" value=" 分享 " class="btn" />
        </div>
    </form>
<div class="hide">
<script src="http://s22.cnzz.com/stat.php?id=5004908&web_id=5004908" language="JavaScript"></script>
<script src="http://s19.cnzz.com/stat.php?id=2884585&web_id=2884585" language="JavaScript"></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cdiv id='cnzz_stat_icon_1000040089'%3E%3C/div%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1000040089' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>