//
// ICON
// --------------------------------------------------

.icon-star{background:transparent url('/img/icon.start.png') repeat-x scroll 0 -999em;background-position:0 -47px;width:18px;height:18px;display:inline-block;}
.icon-star-half{background:transparent url('/img/icon.start.png') repeat-x scroll 0 -999em;background-position:0 -23px;width:18px;height:18px;display:inline-block;}
.icon-star-empty{background:transparent url('/img/icon.start.png') repeat-x scroll 0 -999em;background-position:0 0;width:18px;height:18px;display:inline-block;}
//.icon-star-0{background:transparent url('/img/icon.start.png') repeat-x scroll 0 -999em;background-position:-2px -2px;width:83px;height:15px;display:inline-block;}
.icon-star-10{background:transparent url('/img/icon.start.png') repeat-x scroll 0 -999em;background-position:0 -233px;width:111px;height:19px;display:inline-block;}
.icon-star-1{background:transparent url('/img/icon.start.png') repeat-x scroll 0 -999em;background-position:0 -23px;width:111px;height:19px;display:inline-block;}
.icon-star-2{background:transparent url('/img/icon.start.png') repeat-x scroll 0 -999em;background-position:0 -47px;width:111px;height:19px;display:inline-block;}
.icon-star-3{background:transparent url('/img/icon.start.png') repeat-x scroll 0 -999em;background-position:0 -70px;width:111px;height:19px;display:inline-block;}
.icon-star-4{background:transparent url('/img/icon.start.png') repeat-x scroll 0 -999em;background-position:0 -95px;width:111px;height:19px;display:inline-block;}
.icon-star-5{background:transparent url('/img/icon.start.png') repeat-x scroll 0 -999em;background-position:0 -118px;width:111px;height:19px;display:inline-block;}
.icon-star-6{background:transparent url('/img/icon.start.png') repeat-x scroll 0 -999em;background-position:0 -140px;width:111px;height:19px;display:inline-block;}
.icon-star-7{background:transparent url('/img/icon.start.png') repeat-x scroll 0 -999em;background-position:0 -164px;width:111px;height:19px;display:inline-block;}
.icon-star-8{background:transparent url('/img/icon.start.png') repeat-x scroll 0 -999em;background-position:0 -187px;width:111px;height:19px;display:inline-block;}
.icon-star-9{background:transparent url('/img/icon.start.png') repeat-x scroll 0 -999em;background-position:0 -210px;width:111px;height:19px;display:inline-block;}

.icons {
  background: transparent url('/img/icons.png') repeat scroll 0 -999em;
  display: inline-block;
  vertical-align: middle;
}

.icon-goods {
  .icons();
  background-position: 0 0;
  height: 15px;
  width: 17px;
  margin-top: 3px;
}
.icon-event {
  .icons();
  background-position: 0 -15px;
  height: 17px;
  width: 17px;
  margin-top: 1px;
}
.icon-post {
  .icons();
  background-position: 0 -34px;
  height: 15px;
  width: 17px;
  margin-top: 3px;
}
.icon-book {
  .icons();
  background-position: 0 -50px;
  height: 19px;
  width: 18px;  
}
.icon-round {
  .icons();
  background-position: -4px -71px;
  height: 9px;
  width: 9px;
}
.icon-user {
  .icons();
  background-position: -3px -84px;
  height: 13px;
  width: 12px;
  margin-right: 5px;
}
.icon-hot {
  background-image: url('/img/icon.hot.png');
  background-repeat: no-repeat;
  height: 30px;
  width: 34px;
  right: 5px;
  display: block;
  .background-size(30px 31px);
  position: absolute;
}
.icon-integral {
  position: absolute;
  background: #000;
  .opacity(70);
  color: #fff;
  padding: 2px 10px;
  margin: 20px 0 0 15px;
  font-size: .785em;
  .border-radius(80px);
  em {
    color: #ffbb03;
    font-size: 16px;
  }
}
.icon-earn {
  background-image: url('/img/icon.earn.png');
  background-repeat: no-repeat;
  height: 25px;
  width: 75px;
  display: block;
  .background-size(75px 25px);
  position: absolute;
  top: 25px;
}
.arrow {
  display: block;
  background-image: url('/img/arrow.png');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  .background-size(7px 12px);
  // &:hover{
    // background-image: url('/static/m_img/m_arrow_hover.png');
    // background-position: 100% 50%;
    // background-repeat: no-repeat;
  // }
}
