.navbar{
	background: #64748d url(../img/header_bg.jpg) 0px 0px repeat-x;
	.container{
		background: #394556 url(../img/header_con_bg.jpg) 0px 0px no-repeat;
		height: 90px;
		mix-height: 90px;
	}
}
.logo{
	float: left;
	width: 354px;
}
.navbar-link {
	h3 {
		line-height: 90px;
	}
}
.menu .nav {
	margin: 8px 0 0 0;
}
.menu .nav li a{
	line-height: 30px;
	margin: 0 5px;
}
.menu .nav li a:focus,
.menu .nav li a:hover {
  	background: transparent url("../img/nav_focus.png") 0px 0px no-repeat;

}
.menu .nav .active a,
.menu .nav .active a:hover,
.menu .nav .active a:focus {
  background: transparent url("../img/nav_focus.png") 0px 0px no-repeat;
}

.menu{
	.clearfix ();
	background: #fff;
	border-bottom: 1px solid #d2d9e0;
	height: 44px;
	.navbar-fixed-top{
		background: #fff;
		border-bottom: 1px solid #d2d9e0;
		width: 960px;
		margin: 0 auto;
		height: 44px;
	}
	.navbar-link {
		line-height: 44px;
		color: #647081;
		a {
			color: #647081;
		}
		span {
			margin: 0 5px;
		}
	}
}
