// login
// -------------------------

.account-login-container {
  height: 100%;
}
.login-header {
  height: 70%;
  left: 50%;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
  .logo {
    background: none repeat scroll 0 center transparent;
    float: left;
    position: absolute;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: top, left, margin-left;
    transition-timing-function: ease;
    left: 50%;
    margin-left: -165px;
    top: 25%;
    transition-delay: 0.25s;
    a {
      background: url('/images/logo@login.png');
      background-repeat: no-repeat;
      width: 330px;
      height: 60px;
      display: block;
      overflow: hidden;
      text-indent: -999em;
    }
  }
}
.login-forms {
  left: 50%;
  position: fixed;
  display: block;
  top: 20%;
  margin: 71px 0 0 -190px;
  padding: 0 0 60px 0;
}

