<!--{template web/header}-->

<div class="container" id="container">
	<div class="section fixed">
		<div class="main">
			<div class="inner">
				<div class="main-header"><h2>关于我们</h2></div>
				<div class="main-midden">
					<div class="bd">
						<div class="company">
							<a href="http://www.chengdu.cn/"><img alt="" width="160" height="75" src="/img/qss_logo.gif"></a><b>成都全搜索</b>IN成都运营公司。成都地区最大的社区生活门户网站
						</div>
						<div class="company">
							<a href="http://www.joyotime.com/"><img alt="" width="160" height="75" src="/img/joyo_logo.gif"></a><b>九柚时空</b>IN成都技术开发公司。IN成都联合营运公司。海明威说：“世界是美好的，值得为之战斗”，我们相信后半句。
						</div>
						<br>
						<p>
							IN成都是由成都全搜索新闻网和成都九柚时空科技有限公司联合推出的国内第一个基于单一城市(成都)地理位置的移动互联网服务。
						</p>
						<p>
							这两家公司都坚信互联网给生活带来的便利应该真实到可以揣在口袋里，于是把各自的力量注入了IN成都。
						</p>
						<br>
						<p>
							地址：四川省成都市锦江区锦东路668号国嘉新视界14楼
							<br>
							邮编：610066
							<br>
							电话：028-86007329
							<br>
							传真：028-86007235
							<br>
							客服电话：400-6028-377
							<br>
							市场合作：<a href="mailto:business@in.chengdu.cn">business@in.chengdu.cn</a>
							<br>
							商户合作：<a href="mailto:shop@in.chengdu.cn">shop@in.chengdu.cn</a>
							<br>
							媒体合作：<a href="mailto:media@in.chengdu.cn">media@in.chengdu.cn</a>
							<br>
							渠道合作：<a href="mailto:channel@in.chengdu.cn">channel@in.chengdu.cn</a>
						<p>
					</div>
				</div>
				<div class="main-footer"></div>
			</div>
		</div>
		<!--{template siderbar}-->
	</div>
</div>

<!--{template web/footer}-->