<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>合作品牌 - IN成都</title>
		<link rel="stylesheet" href="css/in.css" type="text/css"/>
		<link rel="stylesheet" href="css/business.css" type="text/css"/>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
	</head>
	<body>
		<?php include 'header.php'; ?>
		<div class="container" id="container">
			<div class="block gap">
				<a href="#"><img src="img/banner1.jpg" /></a>
			</div>
			<div class="block gap">
				<div class="block-header"><h2>合作品牌</h2></div>
				<div class="block-content">
					<div class="partner">
						<ul>
							<li><a href="#"><img src="img/1.jpg" /></a></li>
							<li><a href="#"><img src="img/1.jpg" /></a></li>
							<li><a href="#"><img src="img/1.jpg" /></a></li>
							<li><a href="#"><img src="img/1.jpg" /></a></li>
							<li><a href="#"><img src="img/1.jpg" /></a></li>
							<li><a href="#"><img src="img/1.jpg" /></a></li>
							<li><a href="#"><img src="img/1.jpg" /></a></li>
							<li><a href="#"><img src="img/1.jpg" /></a></li>
							<li><a href="#"><img src="img/1.jpg" /></a></li>
							<li><a href="#"><img src="img/1.jpg" /></a></li>
							<li><a href="#"><img src="img/1.jpg" /></a></li>
							<li><a href="#"><img src="img/1.jpg" /></a></li>
							<li><a href="#"><img src="img/1.jpg" /></a></li>
							<li><a href="#"><img src="img/1.jpg" /></a></li>
							<li><a href="#"><img src="img/1.jpg" /></a></li>
						</ul>
					</div>
				</div>
				<div class="block-footer"></div>
			</div>
			<div class="block">
				<div class="block-header"><h2>合作媒体</h2></div>
				<div class="block-content">
					<div class="more-tag">
						<div class="tag-cloud">
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
							<span><a href="#">成都商报</a>|</span>
						</div>
					</div>
				</div>
				<div class="block-footer"></div>
			</div>
		</div>
		<?php include 'footer.php'; ?>
	</body>
</html>
