//
// Layouts
// --------------------------------------------------

.container{
  height: 100%;
  width: auto;
  .clearfix();
}

.content {
  .user-select(none);
  display: block;
  background: url('/img/mobile.bg.png') repeat scroll 0 0  #f5f5f5;
}

.lump {
  margin: 0 10px;
  padding: 10px 0;
}
