<!--{template common/header}-->
<div id="container">
  <div  class="container-fluid">
    <div class="row">
    <!--{template side_bar}-->
      <div class="main">
        <!--{template navigation}-->
        <div class="con">
          <div class="fill">
            <form id="revisepassword-form" class="form-horizontal" action="/profile/revisepassword/" method="post">
              <div class="control-group">
                <label class="control-label" for="password_again"><span class="warn">*</span> 原密码：</label>
                <div class="controls">
                  <input class="span10" type="password" name="oldpwd" value="" id="oldpwd"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="password_again"><span class="warn">*</span> 新密码：</label>
                <div class="controls">
                  <input class="span10" type="password" name="newpwd" value="" id="newpwd"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="password_again"><span class="warn">*</span> 重复密码：</label>
                <div class="controls">
                  <input class="span10" type="password" name="renew" value="" id="renew" placeholder="重复以上密码" />
                </div>
              </div>
              <div class="from-actions">
                <label class="control-label"></label>
                <div class="controls">
                  <input class="btn btn-primary" data-loading-text="　……　" type="submit" value="　确定　">
                  <input class="btn" type="reset" value="重置" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--{template common/footer}-->
