<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="zh_cn" name="language">
    <meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale=1.0,user-scalable=no;"/>
    <title>爱上一条街•年味成都</title>
    <link rel="stylesheet" href="http://icd.sc/demo/c/reset.css"/>
    <link rel="stylesheet" href="http://icd.sc/demo/c/basic_mobile.5.0.css"/>
    <script type="text/javascript" src="http://icd.sc/js/jquery.min.js"></script>
    <style type="text/css" media="screen">
			/*	background color	*/
			.page {
				background: #f6f6f6;
			}
			#content .unit .box {
				background: #fff;
			}
			.touchslider-viewport {
				background: #fff;
			}
			.box-db-left, .box-db-right {
				background: #000;
			}
			.box-db .img img {
				background: #fff;
			}
			#content .unit a {
			  color: #666;
			}
			/* font color  */
			.unit-title {
				color: #5ba81c;
			}
			#content .unit p {
				color: #666;
			}
			#content .statement p {
				color: #666;
			}
			.box-db-left, .box-db-right {
				color: #5a146a;
			}
			.texts .info-group {
				color: #0c425c;
				border-bottom: 1px dotted #e1d5c5;
			}
			.texts .inside strong {
				color: #000;
			}
			.texts .inside p {

			}
			.bottons .botton span.title {
				color: #a1400b;
			}
			.bottons .botton span.intro {
				color: #a1400b;
			}
			.touchslider-item .touchslider-info {
				color: #fff;
			}
			.multi-line dd span {
				color: #666;
			}
			.multi-line dd a:hover {
				border-radius: 0;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
			}
			.multi-line .viewall a {
				color: #ef631e;
			}
			.multi-line .viewall a:hover {

			}
			.multi-line .address {
				font-size: 12px;
				color: #666;
				padding-top: 5px;
			}
			.touchslider-item img {
				height: 290px;
			}
			.touchslider-nav-item {

			}
			.feed, .user {
				border-bottom: 0;
			}
			.feed a:hover, .user a:hover {
				border-bottom: 0;
				border-radius: 6px;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
			}
			.bb {
			  border-bottom: 1px solid #eee;
			}
    </style>
  </head>
  <body>
    <div class="page">
      <div id="content">
        <div class="grid">
          <div class="img-unit">
            <a href="/event/index/49"><img border="0" src="http://icd.sc/img/m/ytj/header.jpg" width="100%" border="0" /></a>
          </div>
          <div class="unit texts">
            <div class="unit-title">
              <h3>活动说明</h3>
            </div>
            <div class="box">
              <div class="inside expand">
                <div class="expand-simple">
                  <p>
                  	2月，我们一起前往最有年味的-武侯祠大街！<br />
                  	因为有锦里和武侯祠的缘故，整条街更添古香:斑驳的红墙，陈旧的绿瓦，还有门口那经久不变的石门... ...再加上每年春节的大庙会，这......
                  </p>
                </div>
                <div class="expand-more">
                  <p>
                  	2月，我们一起前往最有年味的-武侯祠大街！<br />
                  	因为有锦里和武侯祠的缘故，整条街更添古香:斑驳的红墙，陈旧的绿瓦，还有门口那经久不变的石门... ...再加上每年春节的大庙会，这条街堪称成都年味之最！跟着小编逛武侯祠大街的同时，大家也不妨寻找下自己身边的“年味”，并分享出来。临近除夕的日子，让这样的喜气在你手中凝聚，从IN成都开始扩散！
                  </p>
                </div>
                <div class="expand-arrow">
                  点击查看全部内容
                </div>
              </div>
            </div>
          </div>
          
          <div class="unit scrolls">
            <div class="unit-title"><h3>武侯祠大街·年味看点</h3></div>
            <div id="showPic" class="touchslider">
              <div class="touchslider-viewport" >
                <div>
                  <div class="touchslider-item">
                    <img src="http://icd.sc/img/m/ytj/1.jpg" />
                    <span class="touchslider-info">
                    	年•灯 迎风旋转的走马灯、随风摇曳的长筒灯、铺遍锦里的大红灯笼，新年就是如此的灯火通明，每一盏都是一份来自内心的思念。
                    </span>
                  </div>
                  <div class="touchslider-item">
                    <img src="http://icd.sc/img/m/ytj/2.jpg" />
                    <span class="touchslider-info">
                    			年•转 斑斓的风车随风旋转，各色合一，更显妖艳！糖饼儿的指针转啊转，今年你想让它停留在哪个图案上呢？
                    </span>
                  </div>
                  <div class="touchslider-item">
                    <img src="http://icd.sc/img/m/ytj/3.jpg" />
                    <span class="touchslider-info">
                    			年•缘 千里姻缘一线牵，在这条缘定三生的廊上，各色锦囊都在谱写花好月圆！
                    </span>
                  </div>
                  <div class="touchslider-item">
                    <img src="http://icd.sc/img/m/ytj/4.jpg" />
                    <span class="touchslider-info">
                    			年•街 大概是为了迎接大庙会的缘故，整条街都开始装修。古香古色的图案跃然梁上，蓝红相间的瞬间，年味在此升腾！
                    </span>
                  </div>
                </div>
              </div>
              <div class="touchslider-nav">
                <span class="touchslider-nav-item touchslider-nav-item-current"></span>
                <span class="touchslider-nav-item"></span>
                <span class="touchslider-nav-item"></span>
                <span class="touchslider-nav-item"></span>
              </div>
            </div>
          </div>
          
          <div class="unit texts">
            <div class="unit-title">
              <h3>关于大庙会</h3>
            </div>
            <div class="box">
              <div class="inside expand">
                <div class="expand-simple">
                  <p>
【时间】：2013年2月6日<br />
【门票】：30元（活动期间，对6岁及以下或身高1.3米及以下的儿童、持有效证件的军人、残疾人、60岁及以上老年人实行免票，对持有效证件的青少年（7~18）、全日制大学本科及以......
                  </p>
                </div>
                <div class="expand-more">
                  <p>
【时间】：2013年2月6日<br />
【门票】：30元（活动期间，对6岁及以下或身高1.3米及以下的儿童、持有效证件的军人、残疾人、60岁及以上老年人实行免票，对持有效证件的青少年（7~18）、全日制大学本科及以下学生实行半价优惠。）<br />
【2013新亮点】：1.三国漫游：2013成都大庙会首次引入动漫元素，并启用光影隧道、立体三国秀等全新的形式诠释三国文化；<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 游喜神方：本次大庙会精心设计“小喜神”形象，跟着喜神逛庙会。

                  </p>
                </div>
                <div class="expand-arrow">
                  点击查看全部内容
                </div>
              </div>
            </div>
          </div>
          
           <div class="unit texts">
            <div class="unit-title">
              <h3>参与方式</h3>
            </div>
            <div class="box">
              <div class="inside">
                <p>
                	你那边的年味是怎样的呢？在任意地点下，带上关键字#年味成都#，上传你拍下的“年味”成都的图片+描述，和众Inner分享属于你的年味成都！
                </p>
              </div>
            </div>
          </div>
          
           <div class="unit texts">
            <div class="unit-title">
              <h3>活动时间</h3>
            </div>
            <div class="box">
              <div class="inside">
                <p>
                  2013年1月30日-2月7日
                </p>
              </div>
            </div>
          </div>
          
          <div class="unit texts">
            <div class="unit-title">
              <h3>活动奖品</h3>
            </div>
            <div class="box">
              <div class="inside">
                <p>
据说，3.0积分可以当银子使！So，还有神马可以阻止我们赚积分？根据Inner发布的图片质量&点评质量，我们会给予相应的积分奖励！越分享月精彩，越积分月出彩哦！
<br />
第一名（1人）：3000积分<br />
第二名（2人）：2000积分<br />
第三名（3人）：1000积分<br /><br />
计分方式：(发布条数x1)+(精彩程度x2)=总分
                </p>
              </div>
            </div>
          </div>
          
          <div class="unit texts">
            <div class="unit-title">
              <h3>成都寻年味指南</h3>
            </div>
            <div class="box">
              <div class="inside expand">
                <div class="expand-simple">
                  <p>
1.【天府广场激光秀】：春节不在成都的Inner们也别遗憾啦！1月30号晚上，天府广场将进行首场激光表演秀。8台激光器在天府广场正中央，向四面八方发射各色光束，色诱你的视觉！另外，包括天府大道、金牛大道、锦江大桥等10余处干道、广场、公园，都有炫彩闪烁的......
                  </p>
                </div>
                <div class="expand-more">
                  <p>
1.【天府广场激光秀】：春节不在成都的Inner们也别遗憾啦！1月30号晚上，天府广场将进行首场激光表演秀。8台激光器在天府广场正中央，向四面八方发射各色光束，色诱你的视觉！另外，包括天府大道、金牛大道、锦江大桥等10余处干道、广场、公园，都有炫彩闪烁的灯光美景！闪闪惹人爱滴新年，期待ing！
<br /><br />
2.【塔子山灯会】：春节元宵逛花灯，年年岁岁成习俗！2013年成都第45届国际熊猫灯会将于2月7号-3月10号在塔子山公园举办。据说“江南style”的原班舞蹈团队将空降现场跟大家一起过中国年！Obba~千万不能错过哟！
<br /><br />
3.【国际非遗博览园花会】：赏花逛花会 非遗过新年！2013成都新春花会将在大年初一-大年十五，在国际非遗博览园精彩上演！去冰岛看虞美人花海，去马戏团领略动物明星的憨态，去看史上最全的世界风情花卉，还有各种非遗绝技迷乱你的眼！

                  </p>
                </div>
                <div class="expand-arrow">
                  点击查看全部内容
                </div>
              </div>
            </div>
          </div>
          
          <!--{if isset($feed) && !empty($feed)}-->
          <div class="unit card">
            <div class="unit-title">
              <h3>活动动态</h3>
            </div>
            <div class="box">
              <div class="feeds">
                <div class="feed">
                  <a href="/event/feeds/{$event_id}/{$uid}/0/1">
                  <div class="arrow">
                    <div class="icon">
                      <img src="{$feed[avatar]}"  width="40" height="40"/>
                    </div>
                    <div class="detail">
                      <h4>{$feed[uname]}</h4>
                      <!--{if $feed[type]==1}-->
                      <div class="action">
                        在
                      </div>
                      <div class="place">
                        {$feed[placename]}
                      </div>
                      <div class="action">
                        签到
                      </div>
                      <!--{elseif $feed[type]==2}-->
                      <div class="action">
                        点评
                      </div>
                      <div class="place">
                        {$feed[placename]}
                      </div>
                      <div class="start">
                        <!--{if !empty($feed[star])}--><i class="ico-star-{$feed[star]}"></i><!--{/if}--><!--{if !empty($feed[pcc])}--><em>人均 ￥{$feed[pcc]}</em><!--{/if}-->
                      </div>
                      <div class="info">
                        {$feed[content]}
                      </div>
                      <!--{elseif $feed[type]==3}-->
                      <div class="action">
                        在
                      </div>
                      <div class="place">
                        {$feed[placename]}
                      </div>
                      <div class="action">
                        上传照片
                      </div>
                      <div class="info">
                        {$feed[content]}
                      </div>
                      <div class="photo"><img src="{$feed[photoName]}" width="200" />
                      </div>
                      <!--{/if}-->
                    </div>
                  </div> </a>
                </div>
              </div>
            </div>
          </div>
          <!--{/if}-->

          <!--{if isset($joines) && !empty($joines)}-->
          <div class="unit user-list">
            <div class="unit-title">
              <h3>他们参加了这个活动</h3>
            </div>
            <div class="box">
              <a href="/event/joines/{$event_id}/{$uid}/0/1" class="arrow">
              <ul class="user-list">
                <!--{loop $joines $id $u}-->
                <li><img src="{$u[avatar]}" />
                </li>
                <!--{/loop}-->
              </ul> </a>
            </div>
          </div>
          <!--{/if}-->
        </div>
      </div>
      <div id="footer">
        <p>
          IN.CHENGDU.CN
        </p>
      </div>
    </div>
    <script type="text/javascript" src="http://icd.sc/js/slide.min.js"></script>
    <script type="text/javascript">
	$(function() {
		$(".touchslider").touchSlider({
			mouseTouch : true,
		});
		$(".expand").each(function() {
			$(this).on("click", function() {
				$(this).toggleClass("on");
			});
		})
	})
    </script>
  </body>
</html>