<form id="pagerForm" method="post" action="{$current_page}">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="{$numPerPage}" />
	<input type="hidden" name="orderField" value="<!--{{param.orderField}}-->" />
	<input type="hidden" name="orderDirection" value="<!--{{param.orderDirection}}-->" />
</form>

<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="{$current_url}" method="post">
	<div class="searchBar">
		<ul class="searchContent">
			<li style="width:50px;">
				<label>搜索日期：</label>
				
			</li>
			<li>
			<input type="text" name="keywords" value="{$keywords}" class="date"/>
			</li>
			
			
			
		</ul>
		
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
				<!-- li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li -->
			</ul>
		</div>
	</div>
	</form>
</div>
<div class="pageContent">
	
	<table class="table" width="1200" layoutH="110">
		<thead>
			<tr>
				<th width="20" > 总post条数/来自的用户数 </th>
				{loop $cates $row}
				<th width="40" >{$row['catName']}</th>
				{/loop}

			</tr>
		</thead>
		<tbody>
		<!--{loop $timetable $k $v}-->
			<tr >
				<td>{$k}</td>
				{loop $v $key $value}
					<td>{eval echo intval($value['c_post']);} / {eval echo intval($value['c_uid']);}</td>
				{/loop}
			</tr>
		<!--{/loop}-->
			
			
		</tbody>
	</table>
	
	<!--{template main/page_bar}-->
	
</div>
