// .fileupload-info {
    // margin: 8px 0;
    // display: block;
    // color: #666;
    // line-height: 18px;
    // font-size: 16px;
// }
// .fileinput-button {
    // position: relative;
    // overflow: hidden;
    // input {
        // position: absolute;
        // top: 0;
        // right: 0;
        // margin: 0;
        // opacity: 0;
        // filter: alpha(opacity=0);
        // transform: translate(-300px, 0) scale(4);
        // font-size: 23px;
        // direction: ltr;
        // cursor: pointer;
    // }
// }
// .progress-animated {
    // .bar {
        // background: url(../img/progressbar.gif) !important;
        // filter: none;
    // }
// }
// @media (max-width: 767px) {
  // .fileupload-buttonbar .toggle,
  // .files .toggle,
  // .files .btn span {
    // display: none;
  // }
  // .files .name {
    // width: 80px;
    // word-wrap: break-word;
  // }
// }
// 
// .fileupload-buttonbar .btn,.fileupload-buttonbar .toggle {
    // margin-bottom: 5px;
// }
// .fileupload-processing {
    // .fileupload-loading {
        // display: block;
    // }
// }
// .fileupload-loading {
    // float: right;
    // width: 32px;
    // height: 32px;
    // background: url(../img/loading.gif) center no-repeat;
    // background-size: contain;
    // display: none;
// }

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload {
  margin-bottom: 9px;
}
.fileupload .uneditable-input {
  display: inline-block;
  margin-bottom: 0px;
  vertical-align: middle;
  cursor: text;
  width: 130px;
  position: relative;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  padding: 0 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fileupload .thumbnail {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  text-align: center;
}
.fileupload .thumbnail > img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
}
.fileupload .btn {
  vertical-align: middle;
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
  display: none;
}
.fileupload-inline .fileupload-controls {
  display: inline;
}
.fileupload-new .input-append .btn-file {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.thumbnail-borderless .thumbnail {
  border: none;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.fileupload-new.thumbnail-borderless .thumbnail {
  border: 1px solid #ddd;
}
.control-group.warning .fileupload .uneditable-input {
  color: #a47e3c;
  border-color: #a47e3c;
}
.control-group.warning .fileupload .fileupload-preview {
  color: #a47e3c;
}
.control-group.warning .fileupload .thumbnail {
  border-color: #a47e3c;
}
.control-group.error .fileupload .uneditable-input {
  color: #b94a48;
  border-color: #b94a48;
}
.control-group.error .fileupload .fileupload-preview {
  color: #b94a48;
}
.control-group.error .fileupload .thumbnail {
  border-color: #b94a48;
}
.control-group.success .fileupload .uneditable-input {
  color: #468847;
  border-color: #468847;
}
.control-group.success .fileupload .fileupload-preview {
  color: #468847;
}
.control-group.success .fileupload .thumbnail {
  border-color: #468847;
}

.uneditable-input {
  height: 36px;
  background-color: #ffffff;
  border: 1px solid #eee;
  line-height: 36px;
  color: #555555;
}
