.tab-pane-subset {
  margin-top: 10px;
  .control-group {
    width: 100%;
    .control-label {
      text-align: left;
      width: 70px;
    }
    .controls {

      .fileupload {
        .upload-control {
          margin-bottom: 10px;
        }
        .upload-show {
          .img-polaroid{
            left: 70px;
          }
        }
      }
    }
  }
}