@import "../../../skin/_bootstrap/variables.less";
@import "../../../skin/_bootstrap/mixins.less";

/* 频道主色调 */
@channel-fore: #358FC8;
@channel-back: #9FCEF1;
@channel-back-image: 'channel-style.png';

body {
}

//全屏图片链接
a.fullscreen {
	display: block;
	width: 1000px;
	height: 140px;
	margin: 0 auto;
}

#container {
  background: url('fullscreen.jpg') center 0 no-repeat;
  .container {
    background: url(@channel-back-image) -230px top repeat-y;
  }
}
#container-page {
  .container {
    background: url(@channel-back-image) -230px top repeat-y;
  }
}
.main-l {
  border-top: 2px solid @channel-back;
}
/* nav*/
.nav-bg {
	background: url(@channel-back-image) no-repeat;
	
}
//左侧
.channel-nav{
	.col{
		a{background-color:@channel-back;
			&:hover{
				background-position:0 -256px;
			}
			.ico{
				background-image:url(nav-ico.png);
				&.home{
					background-image:url(../../../skin/nav-ico.png);
				}
			}
			.channel-nav-104,.channel-nav-103{
				background-position:0 0;
			}
			.channel-nav-105{
				background-position:0 -30px;
			}
			.channel-nav-106{
				background-position:0 -60px;
			}
			.channel-nav-107{
				background-position:0 -90px;
			}
			.channel-nav-108{
				background-position:0 -90px;
			}
			.channel-nav-109{
				background-position:0 -120px;
			}
			.channel-nav-110{
				background-position:0 -192px;
			}
		}
	}
	.tag{
		a{
			background:#3D99D7;
			color:#fff;
		}
	}
}
.nav {
	float: left;
	width: 190px;
	.tit {
		height: 71px;
		margin: 0px;
		padding: 0px;
		text-indent: -9999px;
	}
	.col {
		.cleartype();
		a {
			height: 26px;
			line-height: 26px;
			display: block;
			background-color: @channel-back;
			background-position: 0 -116px;
			padding: 9px 0 9px 19px;
			font-size: 16px;
			color: #ffffff;
			.ico {
				background: url('nav-ico.png') no-repeat;
				width: 26px;
				height: 26px;
				float: left;
				display: block;
				margin-right: 9px;
				&.qss { background-position: 0 -27px; }
				&.mao { background-position: 0 -54px; }
				&.fang { background-position: 0 -81px; }
				&.che { background-position: 0 -108px; }
				&.ssss { background-position: 0 -135px; }
				&.xin { background-position: 0 -162px; }
			}
			&:hover,
			&.on {
				text-decoration: none;
				color: #fff;
				background-color: @channel-fore;
				background-position: 0 -71px;
			}
		}
	}
	.tag {
		padding: 20px 11px 0;
		a {
			background: lighten(@channel-back,8);
			height: 30px;
			line-height: 30px;
			padding: 0 10px;
			display: inline-block;
			margin-bottom: 10px;
			color: lighten(@channel-back,50);
			text-decoration: none;
			&:hover {
				background-color: lighten(@channel-back,16);
			}
		}
	}
	.service {
		width: 190px;
		height: 50px;
		text-indent: -9999px;
		overflow: hidden;
		margin-top: 10px;
		background: url(@channel-back-image) 0 -250px no-repeat;
	}
}
.main {
	float: right;
	width: 810px;
}
.main-l {
	float: left;
	width: 560px;
	border-top: 2px solid @channel-back;
}
.main-r {
	float: right;
	width: 230px;
}

/* 热点*/
.hot {
	background: #fff;
	padding: 14px;
	border: 1px #eaeaea solid;
	border-top: 2px solid @channel-back;
	margin-bottom: 20px;
	.clearfix();
	.headline {
		width: 365px;
		padding-left: 15px;
		float: right;
		.list {
			list-style: none;
			margin: 0px;
			padding: 0px;
			li {
				line-height: 20px;
				border-bottom: 1px #ccc dashed;
				padding-bottom: 6px;
				margin-bottom: 6px;
				h1 {
					margin: 0px;
					padding: 0px;
					font-size: 18px;
					text-align: center;
					line-height: 24px;
					font-weight: normal;
					.cleartype();
					a{
						//color:#333333;
						&:hover{color:#30A5DE}
					}
				}
				p {
					margin: 0px;
					padding: 0px;
					color: #666666;
					font-size: 12px;
					font-weight: normal;
				}
				&.more {
					border: none;
					padding-bottom: 0px;
					margin-bottom: 0px;
					line-height: 23px;
					a {
						display: inline-block;
					}
				}
			}
		}
		.movie-list {
			margin: 0 -10px -10px 0;
			padding: 0px;
			list-style: none;
			.clearfix();
			li {
				float: left;
				margin: 0 10px 10px 0;
				.thumb {
					display: block;
					position: relative;
					img {
						width: 115px;
						height: 145px;
					}
					.t {
						display: block;
						line-height: 25px;
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						color: #fff;
						background: rgba(0,0,0,0.8);
						*background: #000000;
						font-style: normal;
						text-align: center;
						padding: 0 8px;
					}
				}
			}
		}
	}
}


/* 焦点幻灯*/
#hd1 {
	width: 400px;
	height: 300px;
	float: left;
}
.focus {
	position: relative;
	overflow: hidden;
	font-size: 0;
}
#hd1 .focus img,#hd1 .focus {
	width: 400px;
	height: 300px;
}
.focus_Num,.focus .bg-al {
	position: absolute;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	width: 400px;
	height: 50px;
}
.focus_Num ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#hd1 .focus_Num ul,#hd1 .focus_Num li {
	line-height: 30px;
	line-height: 30px;
}
.focus_Num ul {
	overflow: hidden;
}
.focus_Num li {
	display: block;
	display: none;
	font-size: 14px;
	color: #eee;
	text-align: center;
}
.focus_Num span {
	cursor: pointer;
	display: inline-block;
}
.focus_Numid {
	text-align: center;
	padding-top: 9px;
}
#hd1 .focus_Num span {
	width: 17px;
	height: 3px;
	background: #727272;
	overflow: hidden;
	margin-right: 3px;
}
#hd1 .focus_Num span.hov {
	background: #c82e32;
}
.focus .bg-al {
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	background: #000;
	height: 50px;
}

.push {
	border-right: 1px @channel-back solid;
	border-bottom: 1px @channel-back solid;
	background: #fff;
	.tit {
		height: 33px;
		line-height: 33px;
		background: #eee;
		padding-left: 18px;
		zoom: 1;
		border-top:none;
		h2 {
			padding: 0px;
			margin: 0 10px 0 0;
			font-weight: normal;
			font-size: 18px;
			line-height: 33px;
			float: left;
			.cleartype();
		}
		.say {
			width: 68px;
			height: 25px;
			margin: 4px 0 0 0;
			background: url(@channel-back-image) 0 -160px no-repeat;
			display: block;
			float: left;
			color: #fff;
			font-weight: bold;
			font-size: 14px;
			text-align: center;
			text-decoration: none;
			line-height: 28px;
			padding-left: 10px;
		}
		.tab {
			float: right;
			width: 180px;
			height: 40px;
			a {
				display: block;
				width: 90px;
				height: 40px;
				line-height: 30px;
				text-align: center;
				color: #333;
				font-size: 18px;
				float: left;
				text-decoration: none;
				.cleartype();
				&.current {
					color: #fff;
					background-position: -140px -160px;
					background-image:url(@channel-back-image);
				}
			}
		}
	}
	.con {
		padding-bottom: 45px;
	}
}

/* 重设频道头部样式 */
#header {
	border-bottom-color: @channel-back;
	.site-nav {
		li {
			a {
				&.on {
					border-bottom-color: @channel-back;
				}
			}
		}
	}
	.sub-nav{
		background-image:url(sb_nav.png);
		.site-nav{
			a{
				background-repeat:repeat-x;
				&.current{
					background-image:url(nav_crt_hover.png);
				}
				&:hover{
					background-image:url(nav_crt.png);
					span{
						display:block;
					}
				}
			}
		}
		
	}
}

/* 重设频道模块样式 */
.module {
	.tit {
		h3 {
			background: url(@channel-back-image) 0px -200px no-repeat;
		}
	}
	.con {}
	.list-groupon {
		.price {
			.p { color: @channel-back;}
		}
	}
}
//左侧联系方式
.channel-nav{
	.service{
		//height:334px;
		//background:url(@channel-back-image) 0 -301px no-repeat;
		background:url(@channel-back-image) 0 -573px no-repeat;
		height:63px;
	}
}
//训练中心
.train{
	border-right: 1px #e6e6e6 solid;
	border-bottom: 1px #e6e6e6 solid;
	background: #fff;
	margin-bottom: 20px;
	.tit{
		height: 30px;
		line-height: 30px;
		background: #eee;
		padding-left: 15px;
		border-top: 2px solid @channel-back;
		h2{
			padding: 0;
			margin: 0 10px 0 0;
			font-weight: normal;
			font-size: 18px;
			line-height: 30px;
			float: left;
			font-family: 'Microsoft YaHei','Hiragino Sans GB',Arial,sans-serif;
		}
		.par_reg{
			float:right;
			a{
				display:inline-block;
				_display:inline;
				_zoom:1;
				width:70px;
				height:30px;
				line-height:30px;
				text-align:center;
				color:#fff;
				background-color:#2C83B8;
			}
		}
	}
	.con{
		padding:15px;
	}
}

