.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * IE6 Fixed */

* html,
* html body {
  _background-attachment: fixed;
}
#returntop {
  display: none;
  position: fixed;
  _position: absolute;
  _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0) - 20));
  right: 50%;
  margin-right: -560px;
  bottom: 20px;
  width: 43px;
  height: 55px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(/img/returntop.png) 0px 0px no-repeat;
  _background: url(/img/returntop.gif) 0px 0px no-repeat;
}
#returntop:hover {
  background-position: 0px -55px;
}
/*
 * color*/

.whiteText {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.redText {
  color: #c96e53;
}
.redText:hover {
  color: #c96e53;
}
.redText:visited {
  color: #c96e53;
}
.greenText {
  color: #5caa1d;
}
.greenText:hover {
  color: #5caa1d;
}
.grayDark {
  color: #666666;
}
.grayDark:hover {
  color: #666666;
}
.grayDark:visited {
  color: #666666;
}
.grayLight {
  color: #aaaaaa;
}
.grayLight:hover {
  color: #aaaaaa;
}
.grayLight:visited {
  color: #aaaaaa;
}
.grayLightest {
  color: #cacecf;
}
.grayLightest:hover {
  color: #cacecf;
}
.grayLightest:visited {
  color: #cacecf;
}
.blueLink {
  color: #2eacb7;
}
.blueLink:hover {
  color: #1a5f65;
}
.greenLink {
  color: #89a81c;
}
.greenLink:hover {
  color: #657c15;
}
.counter {
  color: #666666;
  display: block;
  position: relative;
  padding: 0 5px 0 0;
  z-index: 1;
  float: right;
  margin-top: -30px;
}
/*
 * font*/

.font-yab {
  font-family: "Microsoft YaHei", "Helvetica Neue", "SimSun", Helvetica, Tahoma, Arial, sans-serif;
}
/*
 * box*/

.labelbox {
  margin: 0 2px 0 6px;
  vertical-align: middle;
  border: none;
}
.avatar_box {
  padding-right: 10px;
  height: 147px;
  width: 148px;
  display: block;
  background: url(/img/avatar_box.png) 0px 0px no-repeat;
  _background: url(/img/avatar_box.gif) 0px 0px no-repeat;
}
.avatar_box img {
  padding: 6px 1px 0 0;
  width: 129px;
  height: 129px;
}
/*
 * line*/

.dotted-solid-line {
  border-bottom: 1px solid #e8ecde;
}
.img-icon {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
}
.friangle-rt {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: 0 -16px;
  width: 30px;
  height: 15px;
  display: block;
}
.friangle-lt {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: 0 -33px;
  width: 30px;
  height: 15px;
  display: block;
}
.ico-time {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: -19px -150px;
  width: 21px;
  height: 20px;
  display: block;
}
.ico-pic {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: -19px -64px;
  width: 21px;
  height: 22px;
  display: block;
}
.ico-friend {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: -19px -105px;
  width: 21px;
  height: 22px;
  display: block;
}
.ico-landlord {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: -19px -86px;
  width: 21px;
  height: 22px;
  display: block;
}
.ico-account {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: -19px -48px;
  width: 21px;
  height: 16px;
  display: block;
  margin-top: 3px;
}
.ico-instal {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: -19px -129px;
  width: 21px;
  height: 20px;
  display: block;
}
.ico-tag {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: -19px -170px;
  width: 22px;
  height: 22px;
  display: block;
}
.bg-bar {
  background: transparent url(/img/ico_bg_bar.png) repeat-x scroll 0 -999em;
}
.ico-approve {
  background: transparent url(/img/ico_bg_bar.png) repeat-x scroll 0 -999em;
  color: white;
  background-position: 0 -68px;
  width: 40px;
  height: 14px;
  line-height: 14px;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  font-family: Arial, sans-serif;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  margin-left: 5px;
}
.ico-banner {
  background: transparent url(/img/ico_banner.png) repeat-x scroll 0 -999em;
}
.ico-prev {
  background: url(/img/ico-prev.gif) no-repeat 0 0;
  width: 180px;
  height: 18px;
  display: block;
}
.ico-next {
  background: url(/img/ico-next.gif) no-repeat 0 0;
  width: 180px;
  height: 18px;
  display: block;
}
.dotted-line {
  background: url(/img/dotted_line.gif) repeat-x scroll 0 bottom transparent;
}
.dotted-line-green {
  background: url(/img/dotted_line_green.gif) repeat-x scroll 0 bottom transparent;
}
.dotted-line-y {
  background: url(/img/dotted_line_y.gif) repeat-y 0 0 transparent;
  width: 1px;
  height: 50px;
}
/* 同步 */

.ico-sine {
  background: url(/img/ico_syn.gif) repeat-x scroll 0 -999em;
  display: inline-block;
  background-position: -20px 0;
}
.ico-qq {
  background: url(/img/ico_syn.gif) repeat-x scroll 0 -999em;
  display: inline-block;
  background-position: 0 0;
}
/* 星级 */

.ico-star {
  background: transparent url(/img/stars.png) repeat-x scroll 0 -999em;
  background-position: -1px -38px;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.ico-star-half {
  background: transparent url(/img/stars.png) repeat-x scroll 0 -999em;
  background-position: -1px -20px;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.ico-star-empty {
  background: transparent url(/img/stars.png) repeat-x scroll 0 -999em;
  background-position: -1px -2px;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.ico-star-0 {
  background: transparent url(/img/stars.png) repeat-x scroll 0 -999em;
  background-position: -2px -2px;
  width: 83px;
  height: 15px;
  display: inline-block;
}
.ico-star-1 {
  background: transparent url(/img/stars.png) repeat-x scroll 0 -999em;
  background-position: -2px -20px;
  width: 83px;
  height: 15px;
  display: inline-block;
}
.ico-star-2 {
  background: transparent url(/img/stars.png) repeat-x scroll 0 -999em;
  background-position: -2px -38px;
  width: 83px;
  height: 15px;
  display: inline-block;
}
.ico-star-3 {
  background: transparent url(/img/stars.png) repeat-x scroll 0 -999em;
  background-position: -2px -54px;
  width: 83px;
  height: 15px;
  display: inline-block;
}
.ico-star-4 {
  background: transparent url(/img/stars.png) repeat-x scroll 0 -999em;
  background-position: -2px -72px;
  width: 83px;
  height: 15px;
  display: inline-block;
}
.ico-star-5 {
  background: transparent url(/img/stars.png) repeat-x scroll 0 -999em;
  background-position: -2px -88px;
  width: 83px;
  height: 15px;
  display: inline-block;
}
.ico-star-6 {
  background: transparent url(/img/stars.png) repeat-x scroll 0 -999em;
  background-position: -2px -106px;
  width: 83px;
  height: 15px;
  display: inline-block;
}
.ico-star-7 {
  background: transparent url(/img/stars.png) repeat-x scroll 0 -999em;
  background-position: -2px -122px;
  width: 83px;
  height: 15px;
  display: inline-block;
}
.ico-star-8 {
  background: transparent url(/img/stars.png) repeat-x scroll 0 -999em;
  background-position: -2px -140px;
  width: 83px;
  height: 15px;
  display: inline-block;
}
.ico-star-9 {
  background: transparent url(/img/stars.png) repeat-x scroll 0 -999em;
  background-position: -2px -157px;
  width: 83px;
  height: 15px;
  display: inline-block;
}
.ico-star-10 {
  background: transparent url(/img/stars.png) repeat-x scroll 0 -999em;
  background-position: -2px -174px;
  width: 83px;
  height: 15px;
  display: inline-block;
}
.order1 {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: 0 -48px;
  width: 18px;
  height: 19px;
}
.order2 {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: 0 -67px;
  width: 18px;
  height: 19px;
}
.order3 {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: 0 -86px;
  width: 18px;
  height: 19px;
}
.order4 {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: 0 -105px;
  width: 18px;
  height: 19px;
}
.order5 {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: 0 -124px;
  width: 18px;
  height: 19px;
}
.order6 {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: 0 -143px;
  width: 18px;
  height: 19px;
}
.order7 {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: 0 -162px;
  width: 18px;
  height: 19px;
}
.order8 {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: 0 -181px;
  width: 18px;
  height: 19px;
}
.order9 {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: 0 -200px;
  width: 18px;
  height: 19px;
}
.order10 {
  background: url(/img/icon.png) repeat-x scroll 0 -999em;
  *background: url(/img/icon.gif) repeat-x scroll 0 -999em;
  background-position: 0 -219px;
  width: 18px;
  height: 19px;
}
.ico-close-float {
  background: url(/img/close_float.png) no-repeat 0 0 transparent;
  width: 41px;
  height: 37px;
  display: block;
}
.ico-prefile-nav {
  background: url(/img/ico_profile_nav.gif) repeat-y scroll 0 -999em;
}
.ico-prefile-pics {
  background: url(/img/ico_profile_nav.gif) repeat-y scroll 0 -999em;
  background-position: 0 -2px;
}
.ico-prefile-friends {
  background: url(/img/ico_profile_nav.gif) repeat-y scroll 0 -999em;
  background-position: 0 -488px;
}
.ico-prefile-landlords {
  background: url(/img/ico_profile_nav.gif) repeat-y scroll 0 -999em;
  background-position: 0 -612px;
}
.ico-prefile-bages {
  background: url(/img/ico_profile_nav.gif) repeat-y scroll 0 -999em;
  background-position: 0 -734px;
}
.ico-prefile-visitors {
  background: url(/img/ico_profile_nav.gif) repeat-y scroll 0 -999em;
  background-position: 0 -123px;
}
.ico-prefile-keeps {
  background: url(/img/ico_profile_nav.gif) repeat-y scroll 0 -999em;
  background-position: 0 -244px;
}
#star li {
  float: left;
  padding-right: 5px;
}
#star li a {
  background: transparent url(/img/stars.png) repeat-x scroll 0 -999em;
  background-position: -1px -2px;
  width: 15px;
  height: 15px;
  display: inline-block;
}
#star li.on a {
  background: transparent url(/img/stars.png) repeat-x scroll 0 -999em;
  background-position: -1px -38px;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.ico-sort {
  background: url(/img/ico_sort.png) no-repeat scroll 0 -999em;
  _background: url(/img/ico_sort.gif) no-repeat scroll 0 -999em;
}
.ico-food {
  background: url(/img/ico_sort.png) no-repeat scroll 0 -999em;
  _background: url(/img/ico_sort.gif) no-repeat scroll 0 -999em;
  width: 80px;
  height: 84px;
  display: block;
  background-position: 0 0;
}
.ico-recreation {
  background: url(/img/ico_sort.png) no-repeat scroll 0 -999em;
  _background: url(/img/ico_sort.gif) no-repeat scroll 0 -999em;
  width: 80px;
  height: 84px;
  display: block;
  background-position: 0 -84px;
}
.ico-shopping {
  background: url(/img/ico_sort.png) no-repeat scroll 0 -999em;
  _background: url(/img/ico_sort.gif) no-repeat scroll 0 -999em;
  width: 80px;
  height: 84px;
  display: block;
  background-position: 0 -168px;
}
.ico-point {
  background: transparent url(/img/list_point.gif) 0px 0px no-repeat;
  width: 3px;
  height: 3px;
}
.section-layout {
  *zoom: 1;
}
.section-layout:before,
.section-layout:after {
  display: table;
  content: "";
}
.section-layout:after {
  clear: both;
}
.content {
  float: left;
  width: 900px;
  padding: 0;
  margin: 0;
  background: url(/img/timeline_line.png) center 0px repeat-y;
}
.content .header-info-box {
  border: 1px solid #e6e8e8 \9;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(62, 68, 68, 0.25);
  -moz-box-shadow: 0 1px 1px rgba(62, 68, 68, 0.25);
  box-shadow: 0 1px 1px rgba(62, 68, 68, 0.25);
  padding: 15px;
}
.aside {
  float: right;
  width: 80px;
  padding: 0;
  margin: 0;
  top: 85px;
}
.aside .fixed {
  position: fixed;
  top: 0;
}
.aside .timeline-timebar {
  width: 73px;
  padding: 7px 0 0 7px;
}
.aside .timeline-timebar .timebar-side span,
.aside .timeline-timebar .timebar-oldside span {
  display: block;
  color: #999999;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 1px;
}
.aside .timeline-timebar .timebar-side a,
.aside .timeline-timebar .timebar-oldside a {
  display: block;
  line-height: 22px;
  padding: 0 0 0 5px;
  border-left: 5px solid #5caa1d;
  margin-bottom: 1px;
}
.aside .timeline-timebar .timebar-side a:hover,
.aside .timeline-timebar .timebar-oldside a:hover {
  border-left: 5px solid #447e16;
}
.aside .timeline-timebar .timebar-side .nav,
.aside .timeline-timebar .timebar-oldside .nav {
  border: none;
  background-color: transparent;
  margin: 0;
}
.aside .timeline-timebar .timebar-side .active a,
.aside .timeline-timebar .timebar-oldside .active a {
  color: #447e16;
  border-left: 5px solid #447e16;
}
.timeline-box {
  padding-top: 25px;
}
.timeline-box .timeline-section {
  *zoom: 1;
}
.timeline-box .timeline-section:before,
.timeline-box .timeline-section:after {
  display: table;
  content: "";
}
.timeline-box .timeline-section:after {
  clear: both;
}
.timeline-box .timeline-hd-title {
  cursor: default;
  display: block;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  opacity: 0;
  filter: alpha(opacity=0) \9;
}
.timeline-box .timeline-hd-title span {
  display: block;
  font-weight: bold;
  line-height: 30px;
  margin: 0px auto 15px;
  text-align: center;
  width: 100px;
  height: 30px;
  background: #87c347;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
}
.timeline-box .timeline-hd-title span:before,
.timeline-box .timeline-hd-title span:after {
  display: table;
  content: "";
}
.timeline-box .timeline-hd-title span:after {
  clear: both;
}
.timeline-box .timeline-hd-title.loading {
  opacity: 1;
  filter: alpha(opacity=100) \9;
  background: url(/img/loading.gif) center bottom no-repeat;
  padding-bottom: 32px;
}
.timeline-box .timeline-hd-title.loaded {
  opacity: 1;
  filter: alpha(opacity=100) \9;
}
.timeline-box .timeline-hd-title.now span {
  display: none;
}
.timeline-box .timeline-adventitia {
  position: relative;
  margin-left: -40px;
  overflow: hidden;
  clear: both;
  opacity: 0;
  filter: alpha(opacity=0) \9;
  *zoom: 1;
}
.timeline-box .timeline-adventitia:before,
.timeline-box .timeline-adventitia:after {
  display: table;
  content: "";
}
.timeline-box .timeline-adventitia:after {
  clear: both;
}
.timeline-box .timeline-adventitia .timeline-column {
  border: 1px solid #e6e8e8 \9;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(62, 68, 68, 0.25);
  -moz-box-shadow: 0 1px 1px rgba(62, 68, 68, 0.25);
  box-shadow: 0 1px 1px rgba(62, 68, 68, 0.25);
  width: 430px;
  width: 428px \9;
  margin: 0 0 20px 40px;
}
.timeline-box .timeline-adventitia .timeline-column:after {
  content: "";
  display: block;
  clear: both;
}
.timeline-box .timeline-adventitia .timeline-column .friangle-rt {
  position: absolute;
  left: -29px;
  _left: -44px;
  top: 30px;
  *zoom: 1;
}
.timeline-box .timeline-adventitia .timeline-column .friangle-lt {
  position: absolute;
  right: -29px;
  _right: -28px;
  top: 10px;
}
.timeline-box .timeline-adventitia .timeline-column .feed {
  position: relative;
  padding: 15px;
}
.timeline-box .timeline-adventitia .timeline-column .feed p {
  font-size: 14px;
  line-height: 1.5em;
}
.timeline-box .timeline-adventitia .timeline-column .column-ft {
  background: #f6f6f6 url(/img/column-side-ft.png) 0px 0px no-repeat;
  height: 10px;
  _margin-left: 1px;
  display: none;
}
.timeline-box .timeline-adventitia .timeline-column .column-hd {
  background: transparent url(/img/column-side-hd.png) no-repeat scroll 0 0;
  height: 15px;
  display: none;
}
.timeline-box .timeline-adventitia .timeline-empty {
  margin-left: 40px;
  text-align: center;
  line-height: 50px;
}
.timeline-box .timeline-adventitia#timeline-now-adventitia {
  opacity: 1;
  filter: alpha(opacity=100) \9;
}
.timeline-post dd {
  border-bottom: 1px solid #eeeeee;
  height: auto;
  line-height: 20px;
  display: inline-block;
  margin: 0;
  width: 412px;
  padding: 5px 0;
}
.timeline-post .post-head {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
  margin-bottom: 10px;
  *zoom: 1;
}
.timeline-post .post-head:before,
.timeline-post .post-head:after {
  display: table;
  content: "";
}
.timeline-post .post-head:after {
  clear: both;
}
.timeline-post .post-head .poi {
  color: #2eacb7;
}
.timeline-post .post-head .poi:hover {
  color: #1a5f65;
}
.timeline-post .post-head .avatar {
  float: left;
  margin: 0 10px 0 0;
}
.timeline-post .post-head .bodys {
  color: #aaaaaa;
  padding-left: 50px;
}
.timeline-post .post-head .bodys h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
}
.timeline-post .post-body {
  padding: 0px;
  word-wrap: break-word;
  word-break: break-all;
  border-bottom: 1px solid #eeeeee;
}
.timeline-post .post-body .stared {
  line-height: 18px;
  margin: 0 0 9px;
}
.timeline-post .post-body .stared .star {
  height: 18px;
  line-height: 18px;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
}
.timeline-post .post-body .photo {
  margin-bottom: 10px;
  position: relative;
}
.timeline-post .post-body .photo img {
  width: 400px;
  display: block;
}
.timeline-post .post-body .photo.cut {
  height: 1600px;
  overflow: hidden;
}
.timeline-post .post-body .photo.cut .shadow {
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 20px;
  background: url(/img/long_image_shadow.png) 0px 0px repeat-x;
}
.timeline-post .post-body .action {
  margin-bottom: 10px;
}
.timeline-post .action {
  color: #aaaaaa;
}
.timeline-post .action:hover {
  color: #aaaaaa;
}
.timeline-post .action:visited {
  color: #aaaaaa;
}
.timeline-post .action a {
  color: #2eacb7;
}
.timeline-post .action a:hover {
  color: #1a5f65;
}
.timeline-post .action a.praised,
.timeline-post .action a.favorited {
  color: #aaaaaa;
  cursor: default;
  text-decoration: none;
}
.timeline-post .action a.praised:hover,
.timeline-post .action a.favorited:hover {
  color: #aaaaaa;
}
.timeline-post .action a.praised:visited,
.timeline-post .action a.favorited:visited {
  color: #aaaaaa;
}
.timeline-post .praise-list {
  padding: 5px 0px;
  border-bottom: 1px solid #eeeeee;
  line-height: 20px;
}
.timeline-post .reply-list {
  padding: 5px 0 0;
}
.timeline-post .reply-list .reply-box {
  position: relative;
  margin-top: 5px;
  background: #f5f7ef;
  border: 1px solid #d3dcbd;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  *zoom: 1;
}
.timeline-post .reply-list .reply-box:before,
.timeline-post .reply-list .reply-box:after {
  display: table;
  content: "";
}
.timeline-post .reply-list .reply-box:after {
  clear: both;
}
.timeline-post .reply-list .reply-box ul {
  padding: 0 10px;
}
.timeline-post .reply-list .reply-box ul li {
  border-top: 1px dotted #dedede;
  padding: 8px 0;
  *zoom: 1;
}
.timeline-post .reply-list .reply-box ul li:before,
.timeline-post .reply-list .reply-box ul li:after {
  display: table;
  content: "";
}
.timeline-post .reply-list .reply-box ul li:after {
  clear: both;
}
.timeline-post .reply-list .reply-box ul li .avatar {
  float: left;
}
.timeline-post .reply-list .reply-box ul li .detail {
  padding-left: 50px;
}
.timeline-post .reply-list .reply-box ul li .detail .rep-content {
  color: #666666;
}
.timeline-post .reply-list .reply-box ul li .detail .rep-content:hover {
  color: #666666;
}
.timeline-post .reply-list .reply-box ul li .detail .rep-content:visited {
  color: #666666;
}
.timeline-post .reply-list .reply-box ul li .detail .reply_to {
  float: right;
}
.timeline-post .reply-list .reply-box ul li .action a {
  color: #2eacb7;
}
.timeline-post .reply-list .reply-box ul li .action a:hover {
  color: #1a5f65;
}
.timeline-post .reply-list .reply-box ul li.first-child,
.timeline-post .reply-list .reply-box ul li:first-child {
  border-top: none;
}
.timeline-post .reply-list .reply-box .reply_arrow {
  position: absolute;
  display: block;
  font-size: 12px;
  line-height: 12px;
  font-family: 'SimSun';
  overflow: hidden;
  top: -6px;
  left: 50%;
  margin-left: -6px;
  text-align: center;
  width: 12px;
  height: 6px;
  left: 20px;
  border-bottom: 1px solid #f5f7ef;
}
.timeline-post .reply-list .reply-box .reply_arrow .arrow-border {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  color: #cccccc;
  color: #d3dcbd;
}
.timeline-post .reply-list .reply-box .reply_arrow .arrow-inside {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 1px;
  display: block;
  color: #f5f7ef;
}
.timeline-post .reply-placeholder {
  clear: both;
  height: 20px;
  line-height: 20px;
  color: #dddddd;
  margin-top: 10px;
  border: 1px solid #cccccc;
  padding: 3px 6px;
  cursor: text;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 376px center;
}
.timeline-post #reply-form {
  margin: 10px 0 0;
  padding: 0px;
}
.timeline-post #reply-form input.text {
  height: 20px;
  line-height: 20px;
  color: #333333;
  border: 1px solid #cccccc;
  outline: none;
  padding: 3px 5px;
  width: 319px;
  width: 317px \9;
  margin: 0 -1px 0 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.timeline-post #reply-form input.text:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border: 1px solid #cccccc;
}
.timeline-post #reply-form .btn {
  width: 70px;
  height: 28px;
  line-height: 18px;
  -webkit-border-radius: 0px 2px 2px 0;
  -moz-border-radius: 0px 2px 2px 0;
  -ms-border-radius: 0px 2px 2px 0;
  border-radius: 0px 2px 2px 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#container {
  margin-top: 20px;
}
.place-info {
  display: block;
  position: relative;
  *zoom: 1;
}
.place-info:before,
.place-info:after {
  display: table;
  content: "";
}
.place-info:after {
  clear: both;
}
.place-info .place-icon {
  position: absolute;
  top: 0px;
  left: 0px;
}
.place-info .info {
  float: left;
  display: block;
  padding-left: 85px;
  width: 360px;
}
.place-info .info h1 {
  font-size: 22px;
  line-height: 36px;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
}
.place-info .info p {
  color: #666666;
}
.place-info .info .rating-scale {
  height: 40px;
  padding-top: 10px;
  color: #aaaaaa;
  *zoom: 1;
}
.place-info .info .rating-scale:before,
.place-info .info .rating-scale:after {
  display: table;
  content: "";
}
.place-info .info .rating-scale:after {
  clear: both;
}
.place-info .info .rating-scale li {
  float: left;
  padding-right: 5px;
}
.place-info .info .link-more {
  clear: right;
  float: right;
}
.place-info .info .link-more a {
  padding: 0 5px;
  color: #2eacb7;
}
.place-info .info-operates .operates-control {
  float: right;
  *zoom: 1;
}
.place-info .info-operates .operates-control:before,
.place-info .info-operates .operates-control:after {
  display: table;
  content: "";
}
.place-info .info-operates .operates-control:after {
  clear: both;
}
.place-info .info-operates .operates-control .control-btn {
  padding: 0 5px;
  float: left;
  _padding-bottom: 5px;
  display: inline-block;
}
.place-info .info-operates .operates-control .control-btn .favorite,
.place-info .info-operates .operates-control .control-btn .favorited {
  width: 80px;
}
.place-info .info-operates .verb {
  padding: 60px 0 0 490px;
  margin: 0;
}
.place-info .info-operates .verb li {
  float: left;
}
.place-info .info-operates .verb li a {
  width: 120px;
  height: 120px;
  display: block;
  text-decoration: none;
}
.place-info .info-operates .verb li em {
  *zoom: 1;
  font-size: 28px;
  position: absolute;
  margin: 32px 0 0 12px;
  width: 90px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  color: white;
}
.place-info .info-operates .verb li em:before,
.place-info .info-operates .verb li em:after {
  display: table;
  content: "";
}
.place-info .info-operates .verb li em:after {
  clear: both;
}
#mapCon {
  cursor: pointer;
}
.timeline-review .review-hd {
  background: #e8ecde;
  height: 30px;
}
.timeline-review .review-hd li {
  float: left;
  background: transparent url(/img/ico_bg_bar.png) repeat-x scroll 0 -999em;
  line-height: 30px;
  text-align: center;
  width: 70px;
  font-family: \5FAE\8F6F\96C5\9ED1;
}
.timeline-review .review-hd li a {
  text-decoration: none;
}
.timeline-review .review-hd li.active {
  display: inline-block;
  background-position: 0 -31px;
  height: 36px;
}
.timeline-review .review-hd li.active a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.timeline-review .review-hd li.link-down {
  width: 250px;
  text-align: right;
}
.timeline-review .review-bd {
  clear: both;
  position: relative;
}
.timeline-review .review-bd form {
  margin: 0px;
}
.timeline-review .review-bd .review-fill {
  padding: 10px 0;
  line-height: 20px;
  font-size: 12px;
  color: #666666;
  *zoom: 1;
}
.timeline-review .review-bd .review-fill:before,
.timeline-review .review-bd .review-fill:after {
  display: table;
  content: "";
}
.timeline-review .review-bd .review-fill:after {
  clear: both;
}
.timeline-review .review-bd .review-fill #star-ranker {
  height: 30px;
  width: 200px;
  float: left;
}
.timeline-review .review-bd .review-fill #star-ranker .hint {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  text-indent: 1em;
}
.timeline-review .review-bd .review-fill .percapita {
  float: right;
}
.timeline-review .review-bd .review-fill input {
  height: 24px;
  width: 50px;
  padding: 0 2px;
  text-align: center;
  margin: 0px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.timeline-review .review-bd .review-fill .photo-selector {
  position: relative;
  height: 50px;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
}
.timeline-review .review-bd .review-fill .photo-selector .photo-preview {
  display: none;
  height: 48px;
  line-height: 48px;
  width: 48px;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border: 1px solid #dcded9;
  background: #f6f6f6;
  text-align: center;
}
.timeline-review .review-bd .review-fill .photo-selector .btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  position: absolute;
  left: 50%;
  top: 6px;
  margin: 0 0 0 -82px;
}
.timeline-review .review-bd .review-fill #upload {
  position: absolute;
  left: -999em;
  background: transparent;
  border: 0;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0) \9;
}
.timeline-review .review-bd .action {
  *zoom: 1;
}
.timeline-review .review-bd .action:before,
.timeline-review .review-bd .action:after {
  display: table;
  content: "";
}
.timeline-review .review-bd .action:after {
  clear: both;
}
.timeline-review .review-bd .action .sync-settings {
  float: left;
  line-height: 16px;
}
.timeline-review .review-bd .action .sync-settings .tips {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
}
.timeline-review .review-bd .action .sync-settings .sync-icon {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  width: 16px;
  height: 16px;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
}
.timeline-review .review-bd .action .sync-settings .sync-icon.sync-sina {
  background: url(/img/sync-icon-sina.gif) 0px 0px no-repeat;
}
.timeline-review .review-bd .action .sync-settings .sync-icon.sync-sina.on {
  background-position: 0 -16px;
}
.timeline-review .review-bd .action .sync-settings .sync-icon.sync-tencent {
  background: url(/img/sync-icon-tencent.gif) 0px 0px no-repeat;
}
.timeline-review .review-bd .action .sync-settings .sync-icon.sync-tencent.on {
  background-position: 0 -16px;
}
.timeline-review .review-bd .section-release .textarea-edit textarea {
  width: 390px;
  overflow: hidden;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.timeline-review #review-form {
  *zoom: 1;
}
.timeline-review #review-form:before,
.timeline-review #review-form:after {
  display: table;
  content: "";
}
.timeline-review #review-form:after {
  clear: both;
}
.timeline-review #review-form .reply-write {
  height: 50px;
}
.timeline-review #review-photo-form {
  *zoom: 1;
}
.timeline-review #review-photo-form:before,
.timeline-review #review-photo-form:after {
  display: table;
  content: "";
}
.timeline-review #review-photo-form:after {
  clear: both;
}
.timeline-review #review-photo-form .reply-write {
  height: 30px;
}
.timeline-ad {
  *zoom: 1;
}
.timeline-ad:before,
.timeline-ad:after {
  display: table;
  content: "";
}
.timeline-ad:after {
  clear: both;
}
.timeline-ad p {
  display: block;
  margin: 0;
  font-size: 14px;
  color: #c96e53;
}
.timeline-ad p:hover {
  color: #c96e53;
}
.timeline-ad p:visited {
  color: #c96e53;
}
.timeline-map .tit {
  border-bottom: 1px solid #eeeeee;
}
.timeline-map .tit h3 {
  word-wrap: break-word;
  line-height: 30px;
  color: #666666;
  font-weight: bold;
}
.timeline-map .con {
  padding: 10px 0 0;
  *zoom: 1;
}
.timeline-map .con:before,
.timeline-map .con:after {
  display: table;
  content: "";
}
.timeline-map .con:after {
  clear: both;
}
.timeline-map .con .section-landlord {
  *zoom: 1;
}
.timeline-map .con .section-landlord:before,
.timeline-map .con .section-landlord:after {
  display: table;
  content: "";
}
.timeline-map .con .section-landlord:after {
  clear: both;
}
.timeline-map .con .section-landlord .landlord {
  display: block;
  float: left;
  color: #666666;
}
.timeline-map .con .section-landlord .landlord li {
  float: left;
  padding: 0 10px;
}
.timeline-map .con .section-landlord .landlord h3 {
  line-height: 18px;
  padding: 0 0 5px 10px;
  font-weight: bold;
}
.timeline-map .con .map-wrap {
  padding: 10px 0;
}
.timeline-map .con .ckepop {
  float: right;
  color: #aaaaaa;
}
.timeline-map .con .ckepop:hover {
  color: #aaaaaa;
}
.timeline-map .con .ckepop:visited {
  color: #aaaaaa;
}
.coupon {
  *zoom: 1;
  display: block;
}
.coupon:before,
.coupon:after {
  display: table;
  content: "";
}
.coupon:after {
  clear: both;
}
.coupon .thumb {
  float: left;
}
.coupon h4 {
  margin: 0 0 10px 170px;
  height: 54px;
  overflow: hidden;
}
.coupon .actions {
  margin: 0 0 10px 170px;
  text-align: center;
  border-top: 1px dotted #e1e1e1;
  border-bottom: 1px dotted #e1e1e1;
  padding: 3px;
  background: #f6f6f6;
}
.coupon .actions .btn {
  width: 120px;
}
.coupon .detail {
  clear: both;
}
.coupon .detail .intro {
  color: #999999;
  font-size: 14px;
  line-height: 1.5em;
}
.coupon .detail .more li {
  color: #666666;
  padding: 5px 0 0 0;
}
.timeliine-event .tit {
  border-bottom: 3px solid #87c347;
}
.timeliine-event .tit .event {
  *zoom: 1;
  background: transparent url(/img/ico_banner.png) repeat-x scroll 0 -999em;
  background-position: -47px -60px;
  width: 39px;
  height: 39px;
  display: block;
  margin-left: 5px;
  margin-bottom: -20px;
}
.timeliine-event .tit .event:before,
.timeliine-event .tit .event:after {
  display: table;
  content: "";
}
.timeliine-event .tit .event:after {
  clear: both;
}
.timeliine-event .tit .preferential {
  *zoom: 1;
  background: transparent url(/img/ico_banner.png) repeat-x scroll 0 -999em;
  background-position: -95px -60px;
  width: 39px;
  height: 39px;
  display: block;
  margin-left: 5px;
  margin-bottom: -20px;
}
.timeliine-event .tit .preferential:before,
.timeliine-event .tit .preferential:after {
  display: table;
  content: "";
}
.timeliine-event .tit .preferential:after {
  clear: both;
}
.timeliine-event .con {
  padding: 20px 0 0 0;
  display: block;
  *zoom: 1;
}
.timeliine-event .con:before,
.timeliine-event .con:after {
  display: table;
  content: "";
}
.timeliine-event .con:after {
  clear: both;
}
.timeliine-event .con li {
  line-height: 24px;
}
.timeliine-event .con li p {
  line-height: 20px;
  font-size: 12px;
  padding: 5px 0;
}
.timeliine-event .con li h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}
.timeliine-event .con li h3 a {
  color: #5caa1d;
}
.timeliine-event .con li h3 a:hover {
  color: #5caa1d;
}
.timeliine-event .con li span {
  color: #aaaaaa;
}
.timeliine-event .con li em {
  color: #c96e53;
}
.timeliine-event .con li em:hover {
  color: #c96e53;
}
.timeliine-event .con li em:visited {
  color: #c96e53;
}
.timeliine-event .con li.dotted-line {
  background: url(/img/dotted_line.gif) repeat-x scroll 0 bottom transparent;
}
#reply-form .message_input,
#share-form .message_input,
#place-feedback-form .message_input {
  padding: 5px;
  border: 1px solid #eeeeee;
}
#reply-form textarea,
#share-form textarea,
#place-feedback-form textarea {
  width: 100%;
  outline: none;
  border: none;
  padding: 0px;
  margin: 0px;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
