@charset "utf-8";

.ad-couplet{
	position:absolute;
	top:191px;	
	width: 100px;
	&.affix{
		position:fixed;
	}
}
.ad-couplet-left{
	left:50%;
	margin-left:-620px;
}
.ad-couplet-right{
	right:50%;
	margin-right:-620px;
}