#footer {
	margin-top: 30px;
	padding-top: 10px;
	border-top: 1px #d7d7d7 solid;
	background: #ffffff;
	.friendlink {
		display: none;
		background: #ededed;
		border-top: 1px #d7d7d7 solid;
		border-bottom: 1px #d7d7d7 solid;
		height: 35px;
		line-height: 35px;
		overflow: hidden;
		margin-bottom: 10px;
		.con {
			width: 880px;
			height: 35px;
			overflow: hidden;
		}
		a {
			padding-right: 12px;
		}
		.btn {
			float: right;
			width: 30px;
			height: 15px;
			margin-top: 10px;
			background-position: right -34px;
			overflow: hidden;
		}
		.btn b {
			display: block;
			width: 14px;
			height: 15px;
			cursor: pointer;
			float: left;
			margin-right: 1px;
		}
		.btn .prev {
		}
	}
	.about {
		height: 93px;
		padding: 22px 0 0 78px;
		border-bottom: 1px #d4d4d4 dashed;
		h2 {
			font-size: 16px;
			line-height: 18px;
			height: 18px;
			padding-bottom: 5px;
		}
		p {
			line-height: 22px;
		}
		.index {
			width: 213px;
		}
		.down {
			width: 383px;
		}
		.ab {
			width: 320px;
		}
		b {
			float: left;
			width: 46px;
			height: 46px;
			margin-right: 10px;
		}
		.c {
			color: #aaa;
			padding-top: 22px;
			height: 56px;
			text-align: center;
			font-family: Arial, Helvetica, sans-serif;
		}
		a {
			color: #666;
		}
	}
	.footer-nav{margin:0 0 10px; padding:0 0 10px; text-align:center; border-bottom:1px solid #dbdbdb;}
	.footer-nav a{margin:0 5px;}
	.copyright{text-align:center;}
	.network-monitor{width:660px; height:60px; padding:10px 0 0 0; margin:0 auto;}
		.network-monitor li{display:inline; float:left; width:60px; margin:0 0 0 10px; padding:0 0 0 40px; overflow:hidden; text-align:left;}
		.network-monitor .monitor{position:absolute; width:40px; height:50px; margin:0 0 0 -40px; overflow:hidden;}
		.monitor img {max-width: none;}
		.monitor.s1 img{margin:0 0 0 0px;}
		.monitor.s2 img{margin:0 0 0 -50px;}
		.monitor.s3 img{margin:0 0 0 -100px;}
		.monitor.s4 img{margin:0 0 0 -150px;}
		.monitor.s5 img{margin:0 0 0 -200px;}
		.monitor.s6 img{margin:0 0 0 -250px;}
}
