.bd-pic {
    height: 4px;
    line-height: 4px;
    border: 0;
    margin: 15px 0;
    background: url(images/ico.png) no-repeat 0 bottom;
    _background-image: url(images/ico-8.png);
    background-repeat: repeat-x
}

.t14 {
    font: bold 14px/18px "\5B8B\4F53"
}

.t16 {
    font: bold 16px/18px "\5B8B\4F53"
}

.btn-vertical {
    border-radius: 0;
    min-width: 80px;
    _width: 80px;
    border-width: 1px 1px 1px 1px
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    clear: both;
    content: '.';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden
}

.ib {
    display: inline-block;
    *zoom: 1;
    _display: inline
}

.vm {
    display: table-cell;
    vertical-align: middle
}