<!--{template mobile_site/elements/header}-->
<div class="container">
    <div class="header">
        <h1>提示信息</h1>
    </div>
    <div class="content">
        <div class="media-center">
            <i class="join-done"></i>
            <span>{$msg}</span>
        </div>
        
        <div class="control-link">
        <!--{if $url}-->
            <a href="{$url}" class="btn btn-success">确定</a>
        <!--{/if}-->
        </div>
        
    </div>
</div>
<!--{template mobile_site/elements/footer}-->
