{eval $page_rel='pointticket_code_list';}
<div class="pageHeader" id="order_{$page_rel}">
    <form id="pagerForm" method="post" action="{$current_url}" onsubmit="return divSearch(this, '{$page_rel}');">
        <input type="hidden" name="pageNum" value="{$cur_page}"/>
        <input type="hidden" name="numPerPage" value="{$per_page_num}"/>
        <input type="hidden" name="orderField" value="{$order_field}"/>
        <input type="hidden" name="orderDirection" value="{$order_direction}"/>
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                    <select name="type">
                        <option value="serial_id">顺序号</option>
                        <option value="brand_id"<!--{if $type == 'brand_id'}--> selected<!--{/if}-->>渠道名</option>
                        <option value="poi" <!--{if $type == 'poi'}--> selected<!--{/if}-->>绑定的POI</option>
                    </select>
                    <input type="text" name="keywords" value="{$keywords}" />
                    <button type="submit">
                        检索
                    </button>
                    <select name="status">
                        <option value="0">全部状态</option>
                        <option value="1"<!--{if $status == '1'}--> selected<!--{/if}-->>正常</option>
                        <option value="2"<!--{if $status == '2'}--> selected<!--{/if}-->>已使用</option>
                        <option value="3"<!--{if $status == '3'}--> selected<!--{/if}-->>已过期</option>
                    </select>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
<div class="pageContent" id="{$page_rel}">
<div class="panelBar">
        <ul class="toolBar">
        	<li>
                <a class="icon" target="dialog" title="导出使用记录" href="{eval echo site_url(array('pointticket', 'export_by_date'))}"><span>导出使用明细</span></a>
            </li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="158" rel="{$page_rel}">
        <thead>
            <tr>
                <th width="8%">积分票编号</th>
                <th width="13%">出票时间</th>
                <th width="13%">过期时间</th>
                <th width="20%">绑定到POI</th>
                <th width="15%">渠道</th>
                <th width="5%">面值</th>
                <th width="26%">状态</th>
            </tr>
        </thead>
        <tbody>
            <!--{loop $list $row}-->
            <tr target="id" rel="{$row['id']}">
                <td>{$row['id']}</td>
                <td>{$row['activateDate']}</font></td>
                <td>{$row['expireDate']}</td>
                <td>{$row['placename']}({$row['placeId']})</td>
                <td>{$row['brandName']}</td>
                <td>{$row['point']}</td>
                <td>{$code_status[$row['status']]}
                <!--{if $row['applyUid']}-->
                ({$row['useDate']} {echo $row['nickname']?$row['nickname']:$row['username']} {$row['applyUid']})
                <!--{/if}-->
                </td>
            </tr>
            <!--{/loop}-->
        </tbody>
    </table>
    <!--{template main/page_bar}-->
</div>
