<!--{template common/mobile_header}-->
<div class="container-wap">
    <div class="header">
        <div class="logo"><img src="/images/download.logo.png" alt="" /></div>
        <div class="subtitle">
            <h3>成都团房</h3>
            <p>随时随地享受最给力的团购优惠</p>
        </div>
    </div>
    <div class="content">
        <a class="a btn-bar" href="http://tf.chengdu.cn/dl/tuanfang1.0.0.apk">
            立即下载Android客户端
        </a>
        <a class="i btn-bar" href="https://itunes.apple.com/ca/app/cheng-dou-tuan-fang/id689593686?mt=8">
            进入App Store下载客户端
        </a>
        <a class="ic btn-bar" href="itms-services://?action=download-manifest&url=http://tf.chengdu.cn/dl/tuanfang1.0.0.plist">
            越狱版iOS客户端下载
        </a> 
        <p>
            成都团房是一个致力于成都本土的房产团购手机应用，我们拥有独特的团购优惠资源渠道，为用户提供真真切切的购房优惠；我们拥有一套强大的成都楼盘数据资源，让你随时随地都可以方面的了解成都楼盘信息。在成都团房你可以：<br /> 
            <br />
            1、参与成都楼盘团购，享受给力的购房优惠，无需注册，直接报名参与。 <br />
            
            2、按区域、按价格、按环线、按方位….随你所想搜索筛选成都楼盘信息，足不出户，找到你中意的楼盘。 <br />
            
            3、了解楼盘的详细参数，包括：地理位置、均价、环线位置、方位、开放商…我们为你提供了一个完整的成都楼盘数据库。 <br />
            
            4、足不出户，游览楼盘的效果图、户型图、实景图，先看在去，节省你的交通成本。 <br />
            <br />
            
            联系我们 <br />
            地址：四川省成都市锦江区锦东路668号国嘉新视界14楼 <br />
            电话：4000400101 <br />
            网址：tf.chengdu.cn
        </p>
    </div>
</div>
<!--{template common/mobile_footer}-->