<div class="pageHeader">
正在给 {$hour} 时分配宝贝
</div>
<div class="pageContent" layouth="0">

<table >
<tr>
{loop $timeTable $k $row}
{if $k%6==0}
</tr>
<tr>
{/if}
<td width=150 height=70 <!--{if $row['data']}-->style="background:#B8D0D6"<!--{/if}-->>
{$row['minute']}
<!--{if $row['data']}-->
<img src="{$row['data']['thumb']}" width=50 height=50/><br/>
{$row['data']['name']}<br/>
<!--{/if}-->
<a href="babyclock/specific/hour/{$hour}/minute/{$row['minute']}" target="dialog">指定宝贝</a>
</td>
{/loop}
</tr>
</table>
</div>
