<!--{template sr_head}--> 
	<div class="main">
		<!--{template sr_sidebar}-->
		<div class="content"> 
			<div class="banner">
				<div class="inner">
					<div class="items">
						<div class="img">
							<img src="/images/story/1-1.png" alt="" />
						</div>
						<div class="title">水泥48万吨</div>
					</div>
					<div class="items">
						<div class="img">
							<img src="/images/story/1-2.png" alt="" />
						</div>
						<div class="title">钢材35万吨</div>
					</div>
					<div class="items">
						<div class="img">
							<img src="/images/story/1-3.png" alt="" />
						</div>
						<div class="title">1.1万名建设者</div>
					</div>
					<div class="items">
						<div class="img">
							<img src="/images/story/1-4.png" alt="" />
						</div>
						<div class="title">128万立方米</div>
					</div>
					<div class="items">
						<div class="img">
							<img src="/images/story/过车.png" alt="" />
						</div>
						<div class="title">运送20多万人次</div>
					</div>
					<div class="items">
						<div class="img">
							<img src="/images/story/理解.png" alt="" />
						</div>
						<div class="title">感谢你的理解</div>
					</div>
					<div class="items">
						<div class="img">
							<img src="/images/story/桥墩.png" alt="" />
						</div>
						<div class="title">2188个桥墩</div>
					</div>
					<div class="items">
						<div class="img">
							<img src="/images/story/燃气.png" alt="" />
						</div>
						<div class="title">燃气管线5786米</div>
					</div>
					<div class="items">
						<div class="img">
							<img src="/images/story/讨论.png" alt="" />
						</div>
						<div class="title">图纸经过100次讨论</div>
					</div>
					<div class="items">
						<div class="img">
							<img src="/images/story/下水管道.png" alt="" />
						</div>
						<div class="title">下水管道11160.8米</div>
					</div>
					<div class="items">
						<div class="img">
							<img src="/images/story/支持.png" alt="" />
						</div>
						<div class="title">感谢你的支持</div>
					</div>
					<div class="items">
						<div class="img">
							<img src="/images/story/桩基.png" alt="" />
						</div>
						<div class="title">安放6785根桩基</div>
					</div>
					<div class="items">
						<div class="img">
							<img src="/images/story/自来水.png" alt="" />
						</div>
						<div class="title">自来水管线12598.29米</div>
					</div>
					<a href="" class="prev"></a><a href="" class="next"></a>
				</div>
				<div class="trigers">
					<div class="con">
						<ul>
							<li class="active">
								<a href=""><img src="/images/story/tl2.png" alt="" /></a>
							</li>
						</ul>
					</div>
					<a href="" class="prev"></a><a href="" class="next"></a>
				</div>
			</div>
		</div>
	</div>
	<!--{template common/footer}-->
	
</body>
</html>