<!--{template d_header}-->
<div class="wp-bd">
	<h3>IN成都Windows Phone版</h3>
	<p class="summary">
		敬请期待!
		<br />
		或者到网站赚取IN成都4.0积分换iphone5吧！
		<br/>
		<br/>
		{$version[changeLog]}
		<br/>
		<br/>
		版本：V<span id="versionNumber">{$version[version]}</span>
		<br/>
		更新日期：<span id="versionDate">{echo substr($version[createDate], 0, -3);}</span>
	</p>
	<div class="imitation-wp">
		<ul id="switch-wp">
			<li><img alt="" width="216" height="360" src="/static/skin/wp1.jpg" /></li>
			<li><img alt="" width="216" height="360" src="/static/skin/wp2.jpg" /></li>
			<li><img alt="" width="216" height="360" src="/static/skin/wp3.jpg" /></li>
			<li><img alt="" width="216" height="360" src="/static/skin/wp4.jpg" /></li>
			<li><img alt="" width="216" height="360" src="/static/skin/wp5.jpg" /></li>
			<li><img alt="" width="216" height="360" src="/static/skin/wp6.jpg" /></li>
		</ul>
	</div>
	</div>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42422312-1', 'chengdu.cn');
  ga('send', 'pageview');

</script>
	 
<!--{template d_footer}-->