/* -----------------------------------------
   FishSaying Common Variable
----------------------------------------- */

//  color

$fsColor-56: #4db5a4;
$fsColor-h56: #27d0ae;
$fsColor-bg: #96c8c0;
$fsColor-46: #fe8b46;
$fsColor-h46: #f7ba32;

.centred-text {
  text-align: center;
}

.pdl-160 {
  padding-left: 210px;
}