<!--{template common/header}-->

<div class="container" id="container">
	<div class="block">
		<div class="block-header"><h2>申请重设密码</h2></div>
		<div class="block-content">
			<!--{if isset($err) && $err == 1}-->
				<p>{$msg}</p>
			<!--{else}-->
			<form class="form-horizontal" id="resetpassword-form{if $step > 0}-1{/if}" action="/reset_pwd_{$step}/" method="post">
				<!--{if $step == 0}-->
				<div class="control-group">
					<label class="control-label" for="email">电子邮箱：</label>
					<div class="controls">
						<input type="text" name="email" value="" id="email" placeholder="请输入您注册时所填的电子邮箱" />
					</div>
				</div>
				<div class="form-actions">
					<input type="button" name="submit" id="find_password_sendmail" class="btn btn-primary btn-large" data-loading-text="　……　" value="找回密码" />
				</div>
				<!--{else}-->
				<input type="hidden" id="email" name="email" value="{$email}" />
				<input type="hidden" id="rp_id" name="rp_id" value="{$rpid}" />
				<div class="control-group">
					<label class="control-label" for="newpwd">重置密码：</label>
					<div class="controls"><input type="password" name="newpwd" id="newpwd" placeholder="请输入您的新密码" /></div>
				</div>
				<div class="control-group">
					<label class="control-label" for="repwd">再输入一次：</label>
					<div class="controls"><input type="password" name="repwd" id="repwd" placeholder="请重复输入一次您的新密码" /></div>
				</div>
				<div class="form-actions">
					<input type="button" name="submit" id="find_password_reset" class="btn btn-primary btn-large" data-loading-text="　……　" value="重设密码" />
				</div>
				<!--{/if}-->
			</form>
			<!--{/if}-->
		</div>
		<div class="block-footer"></div>
	</div>
</div>
<script>
$(function(){
	var url = '/reset_pwd_<!--{$step}-->/';
	$("#find_password_sendmail,#find_password_reset").click(function(){
		var request = {};
		var email = $("#email").val();
		var newpwd = $("#newpwd").val();
		var repwd = $("#repwd").val();
		var rp_id = $("#rp_id").val();
		var that = $(this);
		var thisid = $(this).attr("id");
		that.button("loading");
		
		if(thisid == 'find_password_sendmail'){
			var reg = /^[_\.0-9a-zA-Z-]+@([0-9a-zA-Z][0-9a-zA-Z-]+\.)+[a-zA-Z]{2,5}$/;
			if(!email) {
				$.messager("请填写邮箱地址！");
				that.button('reset');
				return false;
			}
			if(!reg.test(email)) {
				$.messager("邮件格式不正确！");
				that.button('reset');
				return false;
			}
			request = {'email':email};
		}
		if(thisid == 'find_password_reset'){
			request = {'rp_id':rp_id,'email':email,'newpwd':newpwd,'repwd':repwd,'code':'{$code}'};
		}
		$.post(url,request,function(data){
			var data = eval("("+data+")");
			var thatid = that.attr("id");
			if(data.code > 0){
				$.messager(data.msg);
				that.button('reset');
				return false;
			} else {
				$.messager(data.msg,'/');
			}
		});
	});
	$('.form-horizontal').keydown(function(e){
		var e=e || event,
		keycode=e.which || e.keyCode;
		if(keycode==13){
			$("#find_password_sendmail,#find_password_reset").trigger('click');
			return false;
		}
	})
})

</script>
<!--{template common/footer}-->
