<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<title>免责声明</title>
	<link rel="stylesheet" href="/static/skin/mobile_main_style.css?{$version}" type="text/css" media="screen" charset="utf-8"/>
</head>
	<body>
      <div id="container">
		<div class="container">
			<div class="lumps">
				<div class="lump club">
					<ul>
						<li>
								<span><h3>第一条：社区规范意义</h3>为维护IN成都社区秩序，推动IN成都社区健康发展，制定本规定；</span>
						</li>
							
						<li>
								<span><h3>第二条：IN成都社区宗旨</h3></span>
　　							    <p>IN成都社区是一个旨在为用户提供生活便利服务的平台，倡导用户发表优质内容，营造文明健康的交流氛围，促进用户间的交流；
								</p>
						</li>
						<li>
								<span><h3>第三条：社区规范目的</h3>IN成都所有参与者需遵守国家法律法规、IN成都社区相关规则及本规定，不得发表与IN成都社区宗旨相悖的言论。</span>
						</li>
						<li>
								<span><h3>第四条：违规行为界定</h3>用户发表帖子存在以下内容，管理员删帖或封号、封设备（特指能够使用IN成都的智能手机或平板电脑）；</span>
								<p>(一) 反动敏感言论、泄露国家秘密；煽动民族歧视；宣扬邪教和封建迷信；散布谣言、扰乱社会秩序的；<p />
								<p>(二) 淫秽、色情、偷窥、偷拍、暴露或朦胧暴露三点之一及表情动作猥亵下流的；<p />
								<p>(三) 血腥、暴力、赌博、犯罪或教唆犯罪、恐怖、恶心、变态观后易引人不适的图片；<p />
								<p>(四) 具有商业性质，未经社区管理员许可的广告性质帖文(含电话、链接地址等)；<p />
								<p>(五) 抄袭、剽窃，侵害他人合法权益的；<p />
								<p>(六) 公开个人隐私(含真实姓名、各类证件号码、联系方式、地址等)资料的；<p />
								<p>(七) 侮辱谩骂或诽谤他人，具有人身攻击性质的；<p />
                                <p>(八) 冒充他人：通过头像、昵称、域名及各类自我说明，暗示自己与他人或机构相等同或有关联；<p />
                                <p>(九) 对他人进行故意骚扰的，以评论、@他人、私信、求关注等方式对他人反复发送重复、近似、诉求相同的信息（反复是指3次及以上，视情况而定）；<p />
                                <p>(十) 其他违反IN成都社区相关条例的帖子。<p />
								
						</li>
						<li>
								<span><h3>第五条：恶意刷分行为</h3></span>
                                <p>(一) 同一个设备，或不同设备（手机端或能够使用IN成都的平板电脑）注册多个小号，完成新手任务，集中向某一个账号赠送送刮刮卡，转移积分的行为；<p />
                                <p>(二) 账号与账号之间，大量赠送刮刮卡，其中赠送的账号不再使用IN成都，疑是转移积分的行为；<p />
                                <p>(三) 通过特殊技术手段，同一个设备注册多个小号，使用非正常邀请机制，使某一个账号集中赠加邀请积分的行为；<p />
                                <p>(四) 通过注册或使用多个小号，违背抢地主规则，恶意对某一个或多个地点进行抢地主刷积分行为。<p />

						</li>
                        <li>
                        		<span><h3>第六条：禁止小号行为</h3></span>
                                <p>【小号的定义】：<p />
                                <p>(一) 同一手机设备下，有3个以上的账号，除正常大号以外，并且无点评无任何更新信息的账号专用于抢地主使用，或者用于攻击他人行为的，均视为小号。（视情况而定）<p />
                                <p>(二) 一个设备下允许有2-3个账号（用于分享发布心情或有关成都生活的趣事新闻）<p />
                                <p>(三) 如同意设备下有2个以及以上账号同一时间段进行抢地主行为，视为小号。<p />

						</li>
                        <li>
                        		<span><h3>第七条：违规行为处理规则</h3></span>
                                <p>【举报流程】：<p />
                                <p>(一) 用户一经发现有疑似小号抢地主或者其他违规等行为的账号，请私信小in进行举报（举报需提供小号昵称或者抢地主信息截屏均可）；<p />
                                <p>(二) 经私信举报后才生效；<p />
                                <p>(三) 管理员对举报账号进行查看审核，经查实后，视情况进行积分扣除（1000-5000积分不等），屏蔽账号或者设备等处理；<p />
                                <p>(四) 如用模拟器等方式进行恶意申请小号、攻击他人、恶意抢地主等行为，将立刻封禁账号和设备；<p />
                                <p>(五) 如被举报账号只有一个终端设备，视为正常使用，管理员将不做任何处理。<p />

						</li>
                        <li>
                        		<span><h3>第八条：本规定所涉及的内容，凡法律、行政法规，从其规定；</h3></span>
						</li>
						<li>
                        		<span><h3>第九条：本规定解释权归IN成都；</h3></span>
						</li>
						
                        <li>
								<span><h3>第十条：本规定自公布之日起实施，更新时间2014年3月24日；</h3></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
      </div>
	</body>
</html>