<!DOCTYPE html>
<html lang="zh-cn" >
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="zh_cn" name="language">
		<title>成为地主，每日收租</title>
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="stylesheet" href="/static/skin/mobile_main_style.css?{$version}">
		<script type="text/javascript" src="/static/js/jquery.min.js?{$version}"></script>
	</head>
	<body>
		<div id="container">
			<div class="container">
				<div class="lumps">
					<div class="lump">
						<div class="item">
							<div class="item-content">
								<dl class="cartooncont ">
									<dd class="dotted">
										<img src="/static/m_img/cartoon05.png" alt=""/>
										<span>传说...在IN成都中的每一个地点都可以有一个地主...
											<br />
											付出一定的积分，就有机会抢到地主，每天21点就能征收到积分了</span>

									</dd>
									<dd class="dotted">
										<img src="/static/m_img/cartoon06.png" alt=""/>
										<span>抢夺方式是随机的，不同的方式有不同的成功率
											<br />
											成功率与是否装备道具、抢夺方式、地点累计的积分、你的等级、额外加成等因素决定
											<br />
											抢夺失败时，所付出的积分会转移一部分到地点</span>
									</dd>
									<dd>
										<img src="/static/m_img/cartoon07.png" alt=""/>
										<span>要想成为一个地点的地主必须要进行一翻抢夺...
											<br />
											一旦收租成功，就能获得大量积分！
											<br />
											高风险，高收益！敢体验心跳的感觉吗？</span>
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
