<!DOCTYPE html>
<html lang="zh-cn" >
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="zh_cn" name="language">
		<title>邀请好友</title>
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="stylesheet" href="/static/skin/mobile_main_style.css?{$version}">
		<script type="text/javascript" src="/static/js/jquery.min.js?{$version}"></script>
	</head>
	<body>
		<div id="container">
			<div class="container">
				<div class="lumps">
					<div class="lump">
						<div class="item">
							<div class="item-content">
								<dl class="cartooncont">
									<dd class="invite">
										<img src="/static/m_img/cartoon08.png" alt="" width="80px" />
										<p>
											独乐乐不如众乐乐，邀请你的好友一起来玩IN成都吧！每成功邀请1人，你将得到<b>100</b>积分奖励。
										</p>
									</dd>
									<dd class="sharelist">
										<ul>
											<li>
												<a href="ininvitebysina://0">
												<div class="arrow"><img src="/static/m_img/m_sine.png" alt="" />邀请新浪微博好友
												</div> </a>
											</li>
											<li>
												<a href="ininvitebytencent://0">
												<div class="arrow"><img src="/static/m_img/m_qq.png" alt=""/>邀请腾讯微博好友
												</div> </a>
											</li>
											<li>
												<a href="ininvitebysms://0">
												<div class="arrow"><img src="/static/m_img/m_msg.png" alt=""/>通过短信邀请
												</div> </a>
											</li>
										</ul>
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
