<!DOCTYPE html>
<!--[if IE 8]><html class="lt-ie10 ie8" lang="zh-cn"><![endif]-->
<!--[if IE 9]><html class="lt-ie10 ie9" lang="zh-cn"><![endif]-->
<!--[if gt IE 9]><!--><html lang="zh-cn" ><!--<![endif]-->
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<meta content="yes" name="apple-mobile-web-app-capable" />
        <title>{$title}</title>
    </head>
    <body>
        {$content}
    </body>
</html>
