<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="zh_cn" name="language">
    <meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale=1.0,user-scalable=no;"/>
    <title>甜蜜蜜九方甜品月</title>
    <link rel="stylesheet" href="//icd.sc/demo/c/reset.css"/>
    <link rel="stylesheet" href="//icd.sc/demo/c/basic_mobile.3.0.css"/>
    <script type="text/javascript" src="http://icd.sc/js/jquery.min.js"></script>
    <style type="text/css" media="screen">
      /*  background color  */
      .page {
        background: #f6f6f6;
      }
      #content .unit .box {
        background: #fff;
      }
      .touchslider-viewport {
        background: #fff;
      }
      .box-db-left, .box-db-right {
        background: #000;
      }
      .box-db .img img {
        background: #fff;
      }
      /* font color  */
      .unit-title {
        color: #0190d6;
      }
      #content .unit p {
        color: #666;
      }
      #content .statement p {
        color: #666;
      }
      .box-db-left, .box-db-right {
        color: #5a146a;
      }
      .texts .info-group {
        color: #0c425c;
        border-bottom: 1px dotted #e1d5c5;
      }
      .texts .inside strong {
        color: #f56006;
      }
      .texts .inside p {

      }
      .bottons .botton span.title {
        color: #fff;
      }
      .bottons .botton span.intro {
        color: #fff;
      }
      .touchslider-item .touchslider-info {
        color: #fff;
      }
      .multi-line dd span {
        color: #666;
      }
      .multi-line dd {
        
      }
      .multi-line .viewall a {
        color: #0190d6;
      }
      .multi-line .viewall a:hover {

      }
      .multi-line .address {
        font-size: 12px;
        color: #666;
        padding-top: 5px;
      }
      .touchslider-item img {
        height: 290px;
      }
      .touchslider-nav-item {

      }
      .feed, .user {
        border-bottom: 0;
      }
      .feed a:hover, .user a:hover {
        border-bottom: 0;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
      }
/*      #content .img-unit {
        box-shadow: none;
      }*/
    </style>
  </head>
  <body>
    <div class="page">
      <div id="content">
        <div class="grid">
          <div class="img-unit">
            <a href="/event/index/37/"><img border="0" src="http://icd.sc/img/m/37/header.jpg" width="100%" border="0" /></a>
          </div>
          <div class="unit texts">
            <div class="unit-title">
              <h3>活动说明</h3>
            </div>
            <div class="box">
              <div class="inside">
                <p>
                  等人们还在为办九方购物卡而为难的时候，IN成都已经为大家准备好了整整一个月的甜品甜蜜计划，甩开凡人们几条街！所以，在成都玩IN成都这就对啦！还有为单身的你特别企划甜蜜相亲会！给爱情加点蜜！
                </p>
              </div>
            </div>
          </div>
          <div class="unit texts">
            <div class="unit-title">
              <h3>活动时间</h3>
            </div>
            <div class="box">
              <div class="inside">
                <p>
                  11月1日-30日
                </p>
              </div>
            </div>
          </div>
          <div class="unit texts">
            <div class="unit-title">
              <h3>活动地点</h3>
            </div>
            <div class="box">
              <div class="inside">
                <p>
                 九方购物中心
                </p>
              </div>
            </div>
          </div>
          <div class="unit multi-line">
            <div class="unit-title"><h3>九方甜品甜蜜季专享推荐</h3></div>
            <div class="box">
              <dl class="shrink" id="jf1">
                <dd>
                  <a href="inplace://318603" class="arrow">
                    <span>快乐柠檬</span>
                    <div class="address">
                                                           优惠内容：凭在“快乐柠檬”签到记录享受第二杯半价优惠！
                    </div>
                  </a>
                </dd>
                <dd>
                  <a href="inplace://317113" class="arrow">
                    <span>糖百府(九方店)</span>
                    <div class="address">
                                                            优惠内容：凭在“糖百府(九方店)”签到记录享受7.8折特价优惠！
                    </div>
                  </a>
                </dd>
                <dd>
                  <a href="inplace://318604" class="arrow">
                    <span>满记甜品(九方店)</span>
                    <div class="address">
                                                             优惠内容：凭在“满记甜品(九方店)”签到记录可享<br />
1、购南北杏雪耳炖木瓜第二份半价<br />
2、消费满68元+2元得芒果班戟一只（原价15元）<br />
                    </div>
                  </a>
                </dd>
                <dd>
                  <a href="inplace://316154" class="arrow">
                    <span>粉彩</span>
                    <div class="address">
                                                              优惠内容：凭在“粉彩”签到记录可享甜品5折优惠！
                    </div>
                  </a>
                </dd>
                <dd>
                  <a href="inplace://316163" class="arrow">
                    <span>Hello tea</span>
                    <div class="address">
                                                           优惠内容：凭在“Hello tea”签到记录可享全场港式冷热饮、小吃类、炖品类8折优惠。
                    </div>
                  </a>
                </dd>
              </dl>
              <div class="viewall" id="jfa1">
                <a class="showMore" id="jfs1">查看全部（<em>5</em>）</a>
              </div>
            </div>
          </div>
          
         <div class="unit multi-line">
            <div class="unit-title"><h3>九方甜品甜蜜季活动商户</h3></div>
            <div class="box">
              <dl class="shrink" id="jf2">
                <dd>
                  <a href="inplace://317119" class="arrow">
                    <span>仙草宓</span>
                    <div class="address">
                                                           1.斯康+果汁（原价36-38元 活动价22元）<br />
2.芝士蛋糕+美食咖啡（原价43元 活动价25元）<br />
3.轻食卷+仙草甜品（原价48元 活动价30元）<br />

                    </div>
                  </a>
                </dd>
                <dd>
                  <a href="inplace://318605" class="arrow">
                    <span>金像酒窖</span>
                    <div class="address">
                                                            凡在九方购物中心消费满200元，凭小票和相亲报名编号臂贴享9.5折，满500享9折，满800享8.5折
                    </div>
                  </a>
                </dd>
                <dd>
                  <a href="inplace://318606" class="arrow">
                    <span>哈根达斯</span>
                    <div class="address">
                                                             相亲报名者凭臂贴可享全城9折优惠(礼品除外)
                    </div>
                  </a>
                </dd>
                <dd>
                  <a href="inplace://318607" class="arrow">
                    <span>Costa Coffee</span>
                    <div class="address">
                                                              凭现场派送的活动手册可换取“买一赠一”券一张。                    </div>
                  </a>
                </dd>
                <dd>
                  <a href="inplace://318608" class="arrow">
                    <span>亨吉利世界名表中心</span>
                    <div class="address">
                                                           相亲报名者凭编号臂贴可享出天梭品牌外8.5折购表优惠。
                    </div>
                  </a>
                </dd>
                <dd>
                  <a href="inplace://318609" class="arrow">
                    <span>木高</span>
                    <div class="address">
                                                          到店即享6.7折优惠！
                    </div>
                  </a>
                </dd>
                <dd>
                  <a href="inplace://317120" class="arrow">
                    <span>非常好记</span>
                    <div class="address">
                                                           消费满60元，送价值10元的桂花糕或椰汁糕；消费满80元，送价值12元的泰式三色糕；消费满100元，送价值15元的大良双皮奶。
                    </div>
                  </a>
                </dd>
                <dd>
                  <a href="inplace://318610" class="arrow">
                    <span>味食尚</span>
                    <div class="address">
                                                           1.骨汤部分享受8.8折优惠<br />
2.消费满100元赠送现金券60元<br />
3.同行小朋友可获赠店面特色甜点南瓜饼<br />

                    </div>
                  </a>
                </dd>
                <dd>
                  <a href="inplace://318611" class="arrow">
                    <span>高非一点</span>
                    <div class="address">
                                                          1.相亲报名者凭编号臂贴享受所有甜品买一赠一<br />
2.下午茶一拖一。原价38元/人，活动价38元/2人<br />
3.相亲报名者凭编号可享受店内所有菜品8折优惠（仅限堂食）<br />
4.相亲成功者凭双方编号臂贴可享受店内所有菜品5折（仅限堂食）<br />

                    </div>
                  </a>
                </dd>
                <dd>
                  <a href="inplace://318612" class="arrow">
                    <span>蓉和小厨</span>
                    <div class="address">
                                                           爱心套餐（原价130元 活动价99元）<br />
套餐内容：夫妻肺片、心跳的滋味、百年好合、一往情深、甜蜜蜜2位。<br />

                    </div>
                  </a>
                </dd>
                <dd>
                  <a href="inplace://316867" class="arrow">
                    <span>锦亦味</span>
                    <div class="address">
                                                          甜蜜11月双人AB套餐（特价138元）任选其一<br />
套餐A<br />
板栗烧嫩兔、话梅胭脂俏猪手、黄金脆香米、手撕油渣莲白、川北旋子凉粉2位、鸡汁开水白菜2位、金银香饭2位。<br />
B餐<br />
酱汁尖椒鸡、秘制樱桃酒糟肉、雪花酥皮牛柳伴沙拉、三锦的邂逅（农家地三鲜）、川北旋子凉粉2位、鸡汁开水白菜2位、金银香饭2位。<br />

                    </div>
                  </a>
                </dd>
                <dd>
                  <a href="inplace://318613" class="arrow">
                    <span>麻辣派对</span>
                    <div class="address">
                                                           1.满100送30元代金券<br />
2.每日一款特价菜/汤<br />
3.每日一款半价调制饮品<br />

                    </div>
                  </a>
                </dd>
                 <dd>
                  <a href="inplace://318614" class="arrow">
                    <span>鲁西肥牛</span>
                    <div class="address">
  浪漫情侣套餐（原价263元 活动价138元）<br />
套餐内容：成双成对（清油麻辣锅、山珍美容锅）、情有独钟（皇家至尊）、山盟海誓（美国肥牛）、一生一世（吉祥伴肥牛）、暗送秋波（油麦菜）、情投意合（土豆片）、白头到老（老豆腐）、千丝万缕（水晶粉）、甜甜蜜蜜（绿茶佛饼）、小料2位、比翼双飞（水果）。<br />
                    </div>
                  </a>
                </dd>
                 <dd>
                  <a href="inplace://318615" class="arrow">
                    <span>原味主张</span>
                    <div class="address">
1.情侣优惠套餐（原价235元 活动价1686元）<br />
套餐内容：原味椰子鸡、麻辣鸡脖/田园鸡胗、野菠菜、米饭2位+茶位费、果汁2杯。<br />
2.满100送100<br />
3.特价大闸蟹9元/只<br />


                    </div>
                  </a>
                </dd>
                <dd>
                  <a href="inplace://318616" class="arrow">
                    <span>新晴茶餐厅</span>
                    <div class="address">
1.到店即享全场甜品饮料8折优惠<br />
2.特供双人甜蜜AB套餐<br />
A餐（118元）两份菜品+两份汤/甜品+两份饮品<br />
B餐（168元）三分菜品+两份汤/甜品+两杯红酒/一壶水果茶<br />
菜单见现场活动手册或店内菜单。<br />


                    </div>
                  </a>
                </dd>
                
              </dl>
              <div class="viewall" id="jfa2">
                <a class="showMore" id="jfs2">查看全部（<em>15</em>）</a>
              </div>
            </div>
          </div>
          
         <div class="unit multi-line">
            <div class="unit-title"><h3>玩乐九方•邂逅攻略</h3></div>
            <div class="box">
              <dl>
                <dd>
                  <a href="inplace://318617" class="arrow">
                    <span>中影•国际影城</span>
                    <div class="address">
                                                          2D影片20元，3D影片30元，影城开业后一个月内均有效！（具体活动时间见影城内公示）
                    </div>
                  </a>
                </dd>
                <dd>
                  <a href="inplace://318618" class="arrow">
                    <span>星级传奇</span>
                    <div class="address">
                                                           入会有礼：100元购90枚游戏币，送会员卡1张（11月9日-11日）
                    </div>
                  </a>
                </dd>
              </dl>
            </div>
          </div>
          <div class="unit scrolls">
            <div class="unit-title"><h3>九方美食•乐在分享</h3></div>
            <div id="showPic" class="touchslider">
              <div class="touchslider-viewport" >
                <div>
                  <div class="touchslider-item">
                    <img src="http://icd.sc/img/m/37/1.jpg" />
                  </div>
                  <div class="touchslider-item">
                    <img src="http://icd.sc/img/m/37/2.jpg" />
                  </div>
                  <div class="touchslider-item">
                    <img src="http://icd.sc/img/m/37/3.jpg" />
                  </div>
                  <div class="touchslider-item">
                    <img src="http://icd.sc/img/m/37/4.jpg" />
                  </div>
                </div>
              </div>
              <div class="touchslider-nav">
                <span class="touchslider-nav-item touchslider-nav-item-current"></span>
                <span class="touchslider-nav-item"></span>
                <span class="touchslider-nav-item"></span>
                <span class="touchslider-nav-item"></span>
              </div>
            </div>
          </div>
          <div class="unit texts">
            <div class="unit-title">
              <h3>Hello九方，Bye-bye单身</h3>
            </div>
            <div class="box">
              <div class="inside">
                <p>
11月11日，九方购物中心将会举办“Hello九方，Bye-bye单身”现场活动。单身的你可不要错过这次机会噢！为爱情加点蜜！（注：凡报名参加现场活动均可获得活动特别定制臂贴一枚）

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="footer">
        <p>
          IN.CHENGDU.CN
        </p>
      </div>
    </div>
     <script type="text/javascript" src="http://icd.sc/js/slide.min.js"></script>
    <script type="text/javascript">
      $(function() {
        $(".touchslider").touchSlider({
          mouseTouch : true,
        });
        $("#jf1").each(function(){
          $("#jf1 > dd:gt(2)").hide(); 
            $("#jfa1").click(function(){
              $("#jfs1").toggle();
              $("#jf1 > dd:gt(2)").toggle();
            });        
        });
        $("#jf2").each(function(){
          $("#jf2 > dd:gt(2)").hide(); 
            $("#jfa2").click(function(){
              $("#jfs2").toggle();
              $("#jf2 > dd:gt(2)").toggle();
            });        
        });
      })
    </script>
  </body>
</html>