<!--{eval $page_id = 'coupon_apply_edit';}-->
<div class="pageContent" id="{$page_id}">
    <form method="post" action="{$current_url}" class="pageForm required-validate">
        <div class="pageFormContent nowrap" layoutH="57">
            <dl>
                <dt>
                    标题：
                </dt>
                <dd>
                    <input type="text" name="title" size="60" class="required" value="{$prefer['title']}" />
                </dd>
            </dl>
            <dl>
                <dt>
                   优惠介绍：
                </dt>
                <dd>
                    <textarea name="detail" rows="8" cols="60" class="required">{$prefer['detail']}</textarea>
                </dd>
            </dl>
            <dl>
                <dt>
                   其他描述标题：
                </dt>
                <dd>
                    <input type="text" name="desc_title" size="60" value="{$prefer['descTitle']}" />
                </dd>
            </dl>
            <dl>
                <dt>
                   其他描述：
                </dt>
                <dd>
                    <textarea name="description" rows="8" cols="60">{$prefer['description']}</textarea>
                </dd>
            </dl>
            <dl>
                <dt>
                    包包图片(190*190)：
                </dt>
                <dd>
                    <button type="button" id="icon">上传图片</button>
                </dd>
            </dl>
            <dl>
                <dt>
                    详情图片(640*400)：
                </dt>
                <dd>
                    <button type="button" id="image">上传图片</button>
                </dd>
            </dl>
            <!--<dl>
                <dt>是否唯一：</dt>
                <dd>
                    <label><input type="radio" name="is_unique" value="1" disabled="true"<!--{if $prefer['isUnique'] === '1'}--> checked="checked"<!--{/if}--> />是</label>
                    <label><input type="radio" name="is_unique" value="0" disabled="true"<!--{if $prefer['isUnique'] === '0'}--> checked="checked"<!--{/if}--> />否</label>
                </dd>
            </dl>-->
            <dl>
                <dt>
                    类型：
                </dt>
                <dd>
                    <label><input type="radio" name="type" value="0" disabled="true"<!--{if $prefer['type'] === '0'}--> checked="checked"<!--{/if}--> />普通优惠</label>
                    <label><input type="radio" name="type" value="1" disabled="true"<!--{if $prefer['type'] === '1'}--> checked="checked"<!--{/if}--> />会员优惠</label>
                </dd>            
            </dl>
            <dl>
                <dt>
                    使用：
                </dt>
                <dd>
                    <label><input type="radio" name="is_usable" value="1" disabled="true"<!--{if $prefer['isUsable'] === '0'}--> checked="checked"<!--{/if}--> />需要</label>
                    <label><input type="radio" name="is_usable" value="0" disabled="true"<!--{if $prefer['isUsable'] === '1'}--> checked="checked"<!--{/if}--> />不需要</label>
                </dd>            
            </dl>
            <dl>
                <dt>
                    使用次数：
                </dt>
                <dd>
                    <input type="input" readonly="readonly" name="frequency_limit" size="4" value="{$prefer['frequencyLimit']}" />
                </dd>
            </dl>
            <dl>
                <dt>
                    有效期：
                </dt>
                <dd>
                    <input type="input" readonly="readonly" class="required" name="end_date" size="12" value="{$prefer['end_date']}" />
                </dd>
            </dl>
            <dl>
                <dt>
                    使用店铺：
                </dt>
                <dd>
                    <select name="places" multiple style="width:320px;height:250px;" readonly="true">
                        <!--{loop $places $row}-->
                        <option id="{$row['id']}">{$row['placename']}</option>
                        <!--{/loop}-->
                    </select>
                </dd>
            </dl>
            <dl>
                <dt>审核：</dt>
                <dd>
                    <label><input type="radio" name="status" value="20" class="required" />通过</label>
                    <label>
                        <input type="radio" name="status" id="status_reject" value="10" class="required" />驳回
                    </label>
                </dd>
            </dl>
            <dl>
                <dt><lable id="remark_tip">备注</lable>：</dt>
                <dd><textarea name="remark" cols="60" rows="5">{$prefer['remark']}</textarea></dd>
            </dl>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="button" id="btnSubmit" onclick="onsubmitCouponAdd();">
                                保存
                            </button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">
                                取消
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
<script type="text/javascript">
    function onsubmitCouponAdd() {
        var form = $("form", $("#{$page_id}"));
        if (!form.valid()) {
            return false;
        }
        
        alertMsg.confirm("确定提交么？", {
            okCall : function() {
                $.ajax({
                    type: 'POST',
                    url:form.attr("action"),
                    data:form.serializeArray(),
                    dataType:"json",
                    cache: false,
                    success: navTabAjaxDone,
                    error: DWZ.ajaxError
                });
            }
        });
    }
        
    $(function() {
        $("input[name=status]", $("#{$page_id}")).click(function(){
            if($("#status_reject", $("#{$page_id}")).attr("checked")) {
                $("#remark_tip", $("#{$page_id}")).text('驳回理由');
                $("textarea[name=remark]", $("#{$page_id}")).addClass("required");
            } else {
                $("#remark_tip", $("#{$page_id}")).text('备注');
                $("textarea[name=remark]", $("#{$page_id}")).removeClass("required");
            }
        });
        
        var options1 = "name:\"icon\", id:\"icon\", file_type:\"common\", required:true, resolution:\"odp\"";
        var options2 = "name:\"image\", id:\"image\", file_type:\"common\", required:true, resolution:\"odp\"";
        <!--{if $prefer['icon']}-->
            options1 += ", image_name: \"{$prefer['icon']}\"";
        <!--{/if}-->
        <!--{if $prefer['image']}-->
            options2 += ", image_name: \"{$prefer['image']}\"";
        <!--{/if}-->
        $("#icon", $("#{$page_id}")).my_upload(eval("({" + options1 + "})"));
        $("#image", $("#{$page_id}")).my_upload(eval("({" + options2 + "})"));
    });

</script>