<div class="modal fade" id="onlineAdvice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-map">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">在线服务</h4>
            </div>
            <div class="modal-body">
               <iframe src="http://vip.tq.cn/vip/leavemsg.do?admiuin=9517532&uin=9523298&action=leavemsg&tag=message&ltype=1&rand=80775813558129635&iscallback=0&agentid=0&comtimes=12&preuin=9523298&RQF=5&RQC=1&page_templete_id=63431&is_message_sms=0&is_send_mail=0&logoLink=http://vip.tq.cn/vip/companylogos/220/logo_deng8866.jpg&isAgent=0&sort=0&style=2&tq_right_infocard_url=http://userfiles.tq.cn/userfiles/upload_220/9517532/1376042392.jpg&page=http://tuanfang.joyotime.com/web/download&localurl=http://tf.chengdu.cn/&spage=http://tuanfang.joyotime.com/web/download&nocache=0.9873075485229492" width="100%" height="500px" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div><!-- /.modal -->