{eval $page_rel='goods_source';}
<script type="text/javascript">
function groupon_to_waiting(obj, url) {
    alertMsg.confirm("您确定要放入【待上架】？", {
        okCall: function(){
            ajaxTodo(url, function(json){
                // if(json.statusCode == DWZ.statusCode.ok) {
                    // alertMsg.correct(json.message);
                    // $(obj).hide();
                // } else {
                    // alertMsg.error(json.message);
                // }
                DWZ.ajaxDone(json);
                if(json.statusCode == 200) {
                    // 成功
                    // 刷新。提交一次
                    $("form", $("#groupon_{$page_rel}")).submit();
                    // 并且刷新等待上架
                    // $("form", $("#groupon_goods_waiting")).submit();
                }
            });
        }
    });
}
</script>
<div class="pageHeader" id="groupon_{$page_rel}">
    <form id="pagerForm" method="post" action="{$current_url}" onsubmit="return divSearch(this, '{$page_rel}');">
        <input type="hidden" name="pageNum" value="{$cur_page}"/>
        <input type="hidden" name="numPerPage" value="{$per_page_num}"/>
        <input type="hidden" name="orderField" value="{$order_field}"/>
        <input type="hidden" name="orderDirection" value="{$order_direction}"/>
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                    <select name="type">
                        <option value="0">全部</option>
                        <!--{loop $groupon_source $key $value}-->
                        <option value="{$value}"<!--{if $type == $value}--> selected<!--{/if}-->>{$key}</option>
                        <!--{/loop}-->
                    </select>
                    <select name="status">
                        <option value="0"<!--{if $status=='0'}--> selected<!--{/if}-->>可用的</option>
                        <option value="1"<!--{if $status=='1'}--> selected<!--{/if}-->>不可用</option>
                    </select>
                    <input type="text" name="keywords" value="{$keywords}" />
                    <button type="submit">
                        检索
                    </button></td>
                </tr>
            </table>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li>
                <a class="add" target="ajaxTodo" href="{eval echo site_url(array('goods_api', 'get_teams', 'tg_chengdu_cn'))}" title="确定要从章鱼团获取数据？"><span>从章鱼团获取数据</span></a>
            </li>
            <li>
                <a class="add" target="ajaxTodo" href="{eval echo site_url(array('goods_api', 'get_teams', 'mygo_chengdu_cn'))}" title="确定要从买购获取数据？"><span>从买购网获取数据</span></a>
            </li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="158" rel="{$page_rel}">
        <thead>
            <tr>
                <th width="5%">商品ID</th>
                <th width="40%">标题</th>
                <th width="13%">开始时间</th>
                <th width="12%">结束时间</th>
                <th width="5%">价格</th>
                <th width="5%">出售数</th>
                <th width="5%">最低人数</th>
                <th width="5%">最大人数</th>
                <th width="7%">来源</th>
                <th width="3%">操作</th>
            </tr>
        </thead>
        <tbody>
            <!--{loop $list $row}-->
            <tr target="id">
                <td>{$row['id']}</td>
                <td><a href="{$row['teamUrl']}" target="_blank">{$row['product']}</a></td>
                <td>{$row['beginTime']}</td>
                <td>{$row['endTime']}</td>
                <td>{$row['teamPrice']}</td>
                <td>{$row['nowNumber']}</td>
                <td>{eval echo $row['minNumber']?$row['minNumber']:'不限制'}</td>
                <td>{eval echo $row['maxNumber']?$row['maxNumber']:'不限制'}</td>
                <td>{$row['grouponName']}</td>
                <td><!--{if $status == '0'}--><a href="javascript:;" onclick="groupon_to_waiting(this, '{eval echo site_url(array('goods', 'to_waiting', 'id', $row['id']))}');">选择</a><!--{/if}--></td>
            </tr>
            <!--{/loop}-->
        </tbody>
    </table>
    <!--{template main/page_bar}-->
</div>

