<script src="/static/mobile_site/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/mobile_site/js/mobile.hepler.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/jquery.placeholder.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/jquery.cookies.min.js"></script>
<script type="text/javascript" src="/static/js/crypto-js/rollups/aes.js"></script>
<script type="text/javascript" charset="utf-8">
    $(function(){
        $('[placeholder]').placeholder();
    });
</script>
    </body>
</html>