<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
    <title>文明测评排行榜</title>
    <link rel="stylesheet" type="text/css" href="/index3.0/styles/style.css?20130314" />
	
    <style>
		table { backgroup-color:black;border:1px solid black;}
		td {padding:3px;border-right:1px solid black; border-bottom:1px solid black;}
		.pagination {display:block}
	</style>
  </head>
  <body>
    <table cellspacing=0 cellpadding=0 width=100%>
    	<tr>
    	<td colspan=4>总条数：<font style="font-weight:bold;color:red">{$count}</td>
    	</tr>
    	<tr>
    		<td>昵称</td><td>地点</td><td>内容</td><td>时间</td>
    	</tr>
    	{loop $list $l}
    	<tr>
    		<td>{$l['nickname']}</td>
    		<td>{$l['placename']}</td>
    		<td>{if $l['photoName']}<img src="{$l['photoName']}" />{/if}{$l['content']}</td>
    		<td>{$l['createDate_old']}</td>
    	</tr>
    	{/loop}  
    </table>
    {$paginate} 
  </body>
</html>