//
// Images
// --------------------------------------------------

.join-done {
  display: block;
  background: url('/static/mobile_site/img/smiling.png') no-repeat 0 0 transparent;
  width: 58px;
  height: 60px;
  .background-size(58px 60px);
}
